<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>知筑导航--竞赛展会</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>

<body>
    <% include ../header %>
    <section class="contain">
        <div class="cshow-contain">
            <div class="cshow-tab">
                <div class="title">设计竞赛</div>
            </div>
            <div class="cshow-tab">
                <div class="title">建筑展会</div>
            </div>
            <div class="cshow-tab">
                <div class="title">建筑讲座</div>
            </div>
        </div>
    </section>
    <section class="contain">
        <div class="cshow-contain">
            <div class="cshow-tab">
                <ul class="cell">
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cshow-tab">
                <ul class="cell">
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cshow-tab">
                <ul class="cell">
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap">
                                <img alt="" data-original="/img/post_1.jpg" class="lazy">
                            </div>
                            <div class="img-content">
                                <div class="title">这是一段标题</div>
                                <div class="btm-label">
                                    <div class="location">地点：上海美术馆</div>
                                    <div class="time">时间：2016年9月10日</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <% include ../footer %>
</body>

</html>
<script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>
<script type="text/javascript" src="/js/lib/jquery.lazyload.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("img.lazy").lazyload({
        placeholder: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC",
        effect: "fadeIn"
    });

    $(".wcg-cate").delegate("li", "click", function(e) {
        e.preventDefault();
        var _$this = $(this);
        _$this.addClass('active').siblings(".active").removeClass('active');
        // console.log(_$this.html());
    });
})
</script>
