<footer>
    <div class="top align-center">
        <div class="foot-logo">
            <img src="/img/archi-logo-footer.png" class="foot-logo">
            <div class="desc">
                知筑导航创办于2014年，是最专业的建筑行业导航网站，网站定位在建筑人的自主导航。不仅仅是行业网址导航，更是知你懂你的导航。互联网迅速发展的时代，各种信息爆炸，知筑导航需要做的就是将信息整合，精选推送，同时定期分享免费建筑资料，组织建筑界同城活动，打造新型建筑师之家。
            </div>
        </div>

        <span class="line"></span>
        
        <a href="http://shang.qq.com/wpa/qunwpa?idkey=af0245086b95322b1c927936e0185d55e3dee0246b944132c1a2fdf46b9e6f71" class="qq-icon" target="_blank">
            <img src="/img/icon_qq.png" />
        </a>
        <a href="http://user.qzone.qq.com/1633031310/4" class="qq-icon" target="_blank">
            <img src="/img/icon_qzone.png" />
        </a>
        <div class="qq-icon wechat-icon">
            <img src="/img/icon_wechat.png" />
            <img src="/img/wechat_scan_code.png" class="wechat-hover"/>
        </div>
        
    </div>
    <div class="btm align-center">
        <div class="content">&copy;&nbsp;2014-2016&nbsp;上海互筑信息科技有限公司&nbsp;&nbsp;版权所有</div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 title"><a href="">关于我们</a></div>
                </div>
                <div class="row col-sm-8 col-sm-offset-4 footer-logo">
                    <div class="col-sm-12"><a href="">关于知筑</a></div>
                    <div class="col-sm-12"><a href="">申请收入</a></div>
                    <div class="col-sm-12"><a href="">赞助我们</a></div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="row ">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12 title"><a href="">关注知筑</a></div>
                            <div class="col-xs-12"><a href="">每天送资料</a></div>
                            <div class="col-xs-12"><a href="">加入QQ群</a></div>
                            <div class="col-xs-12"><a href="">QQ空间</a></div>
                            <div class="col-xs-12"><a href="">微信</a></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 title"><a href="">友情链接</a></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                this is test
            </div>
        </div>
        <div class="row copy-right">
            <div class="col-xs-12 align-center">&copy;2015-2016&nbsp;上海互筑科技有限公司&nbsp;&nbsp;版权所有</div>
        </div>
    </div> -->
</footer>