<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 title"><a href="">关于我们</a></div>
                </div>
                <div class="row col-sm-8 col-sm-offset-4 footer-logo">
                    <div class="col-sm-12"><a href="">关于知筑</a></div>
                    <div class="col-sm-12"><a href="">申请收入</a></div>
                    <div class="col-sm-12"><a href="">赞助我们</a></div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="row ">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12 title"><a href="">关注知筑</a></div>
                            <div class="col-xs-12"><a href="">每天送资料</a></div>
                            <div class="col-xs-12"><a href="">加入QQ群</a></div>
                            <div class="col-xs-12"><a href="">QQ空间</a></div>
                            <div class="col-xs-12"><a href="">微信</a></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 title"><a href="">友情链接</a></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                        <div class="col-xs-12"><a href="">链接</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copy-right">
            <div class="col-xs-12 align-center">&copy;2015-2016&nbsp;上海互筑科技有限公司&nbsp;&nbsp;版权所有</div>
        </div>
    </div>
</footer>