doctype html
html
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="format-detection", content="telemobile=no")
    head
        block css
            link(rel='stylesheet', href="/common/css/main.css")
            link(rel='stylesheet', href="/common/css/bootstrap.min.css")
            link(rel='stylesheet', href="/common/css/magnific-popup.css")
        title= title
    body
        block content
    footer
        div.container
            div.row
                div.col-sm-4.col-xs-12
                    div.row
                        div.col-sm-12.title
                            a(href='')= 关于我们
                        div.row.col-sm-8.col-sm-offset-4.footer-logo
                            div.col-sm-12
                                a(href='')= 关于知筑
                            div.col-sm-12
                                a(href='')= 申请收入
                            div.col-sm-12
                                a(href='')= 赞助我们
                div.col-sm-4.col-xs-12
                    div.row
                        div.col-xs-6
                            div.row
                                div.col-xs-12.title
                                    a(href='')= 关于知筑
                                div.col-xs-12.title
                                    a(href='')= 每天送资料
                                div.col-xs-12.title
                                    a(href='')= 加入QQ群
                                div.col-xs-12.title
                                    a(href='')= QQ空间
                                div.col-xs-12.title
                                    a(href='')= 微信
                        div.col-xs-6
                            div.row
                div.col-sm-4.col-xs-12
                    div.row
                        div.col-sm-12.title
                            a(href='')= 友情链接
                    div.row
                        div.col-sm-4.col-xs-12
                            div.col-xs-12
                                a(href='')= 链接
                            div.col-xs-12
                                a(href='')= 链接
                            div.col-xs-12
                                a(href='')= 链接
                        div.col-sm-4.col-xs-12
                            div.col-xs-12
                                a(href='')= 链接
                            div.col-xs-12
                                a(href='')= 链接
                            div.col-xs-12
                                a(href='')= 链接
                        div.col-sm-4.col-xs-12
                            div.col-xs-12
                                a(href='')= 链接
                            div.col-xs-12
                                a(href='')= 链接
                            div.col-xs-12
                                a(href='')= 链接
            div.row.copy-right
                div.col-xs-12.align-center= \&copy;2015-2016\&nbsp;上海互筑科技有限公司\&nbsp;\&nbsp;版权所有

    block scripts
        script(type='text/javascript', src='js/lib/jquery-1.10.2.min.js')
        script(type='text/javascript', src='js/lib/bootstrap.min.js')
        script(type='text/javascript', src='js/lib/jquery.magnific-popup.min.js')
        script(type='text/javascript', src='js/lib/lodash.core.min.js')
        script(type='text/javascript', src='js/lib/store.min.js')
        script(type='text/javascript', src='http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js')




