body {
  font-family: 'Microsoft YaHei' !important;
}
body .overlay {
  background: #000;
  filter: alpha(opacity=50);
  /* IE的透明度 */
  opacity: 0.5;
  /* 透明度 */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2000;
  /* 此处的图层要大于页面 */
  display: none;
}
a:visited,
a:link,
a:focus,
a:hover,
a:active {
  text-decoration: blink;
  outline: none;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
li a:visited,
li a:link,
li a:focus,
li a:hover,
li a:active {
  text-decoration: blink;
  outline: none;
}
.hidden {
  display: none;
}
.align-center {
  text-align: center;
}
.green {
  color: #1AD1CC;
}
.full-width {
  width: 100% !important;
}
.bg-black {
  background-color: #333333;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #f5f5f5;
}
h5.more {
  font-weight: normal;
  color: #7f7f7f;
  text-align: center;
}
h5.more:hover {
  color: #1AD1CC;
}
.archi-logo {
  position: relative;
  width: 80px;
  height: 60px;
  margin-right: 20px;
}
.archi-logo img {
  position: absolute;
  width: 60px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.bs-docs-nav {
  background-color: #fff;
  border-bottom: 0 none !important;
  margin-bottom: 0 !important;
  position: relative;
  z-index: 100;
  box-shadow: 1px 1px 10px #888888;
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #563D7C;
}
.bs-docs-nav a {
  color: #000;
}
.main-section {
  width: 100%;
  padding-bottom: 40px;
  box-shadow: 1px 1px 4px #888888;
  position: relative;
}
.tool-container {
  position: relative;
}
.tool-container .tools-closeBtn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.tool-container:hover .tools {
  opacity: 1;
  background-color: #1AD1CC;
}
.tool-container:hover .tools .left-arrow {
  opacity: 1;
}
.tool-container:hover .tools .fun-tool {
  opacity: 1;
}
.tool-container:hover .tools .fun-tool > a {
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.tool-container:hover .tools .right-arrow {
  opacity: 1;
}
.tool-container .circle {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid #1AD1CC;
  top: 100%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  background-color: #ffffff;
}
.tool-container .tools {
  opacity: 0;
  width: 120px;
  display: block;
  position: absolute;
  height: 30px;
  top: 100%;
  left: 50%;
  margin-top: -15px;
  margin-left: -60px;
  border-radius: 15px;
  box-shadow: 2px 2px 6px #aaaaaa;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.tool-container .tools .left-arrow {
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in 0.1s;
  -moz-transition: opacity 0.2s ease-in 0.1s;
  -webkit-transition: opacity 0.2s ease-in 0.1s;
  -o-transition: opacity 0.2s ease-in 0.1s;
}
.tool-container .tools .left-arrow:before {
  content: '';
  display: inline-block;
  border: 8px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  border-right-color: #ffffff;
  left: 2px;
}
.tool-container .tools .left-arrow:after {
  content: '';
  display: inline-block;
  border: 8px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  border-right-color: #1AD1CC;
  left: 4px;
}
.tool-container .tools .fun-tool {
  opacity: 0;
  cursor: pointer;
  display: block;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  margin-left: -8px;
  transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.tool-container .tools .right-arrow {
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in 0.1s;
  -moz-transition: opacity 0.2s ease-in 0.1s;
  -webkit-transition: opacity 0.2s ease-in 0.1s;
  -o-transition: opacity 0.2s ease-in 0.1s;
}
.tool-container .tools .right-arrow:before {
  content: '';
  display: inline-block;
  border: 8px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  border-left-color: #ffffff;
  right: 2px;
}
.tool-container .tools .right-arrow:after {
  content: '';
  display: inline-block;
  border: 8px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  border-left-color: #1AD1CC;
  right: 4px;
}
.bs-docs-header {
  font-size: 24px;
  text-align: left;
  background-color: #1AD1CC;
  background-position: -240px;
  height: 200px;
}
.bs-docs-header .content-title {
  margin-top: 0;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 3px;
}
.bs-docs-header,
.bs-docs-header .bs-docs-masthead {
  position: relative;
  padding: 30px 0px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  background-repeat: repeat-x;
}
.search-container {
  margin-top: 40px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  position: relative;
  text-align: center;
}
.search-container input[type="button"],
.search-container input[type="submit"] {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border: none;
  outline: none;
}
.search-container .s-left-btn {
  width: 66px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: -4px;
  vertical-align: top;
}
.search-container .s-middle-input {
  height: 32px;
  line-height: 32px;
  border: none;
  width: 340px;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  outline: none;
  color: #348699;
  vertical-align: top;
}
.search-container .s-middle-input:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.search-container .s-middle-input:hover + .s-right-btn {
  visibility: visible;
}
.search-container .s-middle-input:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
.search-container .s-middle-input:focus + .s-right-btn {
  visibility: visible;
}
.search-container .s-right-btn {
  width: 40px;
  height: 32px;
  background-color: transparent;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
  margin-left: -44px;
  visibility: visible;
}
.section-container {
  margin-left: 5%;
  width: 90%;
}
.middle-section {
  background-color: #ffffff;
}
.section {
  margin-top: 40px;
  margin-left: 5%;
  width: 90%;
  height: 100%;
}
.wonderful-section {
  background-color: #f5f5f5;
  overflow: hidden;
  width: 100% !important;
  padding-top: 60px;
  padding-bottom: 100px;
}
.logo-container {
  width: 100%;
  height: 400px;
  display: none;
  position: relative;
}
.logo-container.active {
  display: block;
}
.logo-container .logo {
  display: inline-block;
  float: left;
  width: 11.11%;
  border: none;
  padding: 20px 20px;
  margin-bottom: 10px;
  position: relative;
  transition: box-shadow 0.1s ease-in;
}
.logo-container .logo a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  position: relative;
  padding-top: 50px;
  outline: none;
}
.logo-container .logo a img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  margin-top: -25px;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.logo-container .logo .triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  visibility: hidden;
  border-top: 30px solid #1AD1CC;
  border-left: 30px solid transparent;
}
.logo-container .logo .triangle:before {
  content: '';
  background-image: url(/img/pen_3px.png);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -17px;
  left: -4px;
  width: 8px;
  height: 8px;
  transform: translate(-100%, -100%);
  -moz-transform: translate(-100%, -100%);
  -webkit-transform: translate(-100%, -100%);
  -o-transform: translate(-100%, -100%);
}
.logo-container .logo .l-label {
  position: absolute;
  padding: 0 5px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background-color: #1AD1CC;
  color: #ffffff;
  display: block;
  margin-top: -25px;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.logo-container .logo:hover {
  box-shadow: 2px 2px 10px #aaaaaa;
  /*            .triangle{
                visibility: visible;
                cursor: pointer;
            }*/
}
.logo-container:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.logo-container li {
  display: inline-block;
  width: 80px;
  margin: 5px;
}
.show-triangle .logo {
  /*        &:nth-child(5n+1){
            .browserPrefix(animation,pulse 0.5s infinite 0.1s);
        }
        &:nth-child(5n+2){
            .browserPrefix(animation,pulse 0.5s infinite 0.3s);
        }
        &:nth-child(5n+3){
            .browserPrefix(animation,pulse 0.5s infinite 0.1s);
        }
        &:nth-child(5n+4){
            .browserPrefix(animation,pulse 0.5s infinite 0.3s);
        }
        &:nth-child(5n+5){
            .browserPrefix(animation,pulse 0.5s infinite 0.3s);
        }*/
}
.show-triangle .logo:hover .triangle {
  visibility: visible;
  cursor: pointer;
}
.show-triangle .logo:nth-child(2n+1) {
  animation: pulse 0.6s infinite 0s;
  -moz-animation: pulse 0.6s infinite 0s;
  -webkit-animation: pulse 0.6s infinite 0s;
  -o-animation: pulse 0.6s infinite 0s;
}
.show-triangle .logo:nth-child(2n+2) {
  animation: pulse 0.6s infinite 0.3s;
  -moz-animation: pulse 0.6s infinite 0.3s;
  -webkit-animation: pulse 0.6s infinite 0.3s;
  -o-animation: pulse 0.6s infinite 0.3s;
}
.sample-container {
  margin-top: 18px;
  display: none;
}
.sample-container.active {
  display: block;
}
.sample-container .with-shadow {
  box-shadow: 3px 3px 20px #aaaaaa;
}
.sample-container .img-wrap {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}
.sample-container .img-wrap .img-contain {
  width: 100%;
  height: 100%;
  display: block;
}
.sample-container .img-wrap .img-contain img {
  transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  height: 610px;
}
.sample-container .img-wrap .hoverImg-toRight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  opacity: 1;
  color: #ffffff;
  background: linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.sample-container .img-wrap .hoverImg-toRight .title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  font-size: 16px;
}
.sample-container .img-wrap .hoverImg-toRight .desc {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  font-size: 14px;
}
.sample-container .img-wrap .hoverImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  color: #ffffff;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.sample-container .img-wrap .hoverImg .title {
  padding-top: 150px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
}
.sample-container .img-wrap .hoverImg .title .small {
  margin-left: 15px;
}
.sample-container .img-wrap .hoverImg .desc {
  padding-bottom: 40px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  text-indent: 30px;
}
.sample-container .img-wrap:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.sample-container .ar-panel {
  display: block;
  float: left;
  min-height: 400px;
  margin-bottom: 20px;
}
.sample-container .ar-panel.article-list:hover {
  box-shadow: 2px 2px 14px #aaaaaa;
}
.sample-container .ar-panel:first-child {
  width: 60%;
}
.sample-container .ar-panel:last-child {
  width: 40%;
}
.sample-container .ar-panel .top-fragment {
  padding-bottom: 8px;
}
.sample-container .ar-panel .top-fragment .img-wrap {
  height: 243px;
}
.sample-container .ar-panel .top-fragment .img-wrap .img-contain img {
  height: 250px;
}
.sample-container .ar-panel .btm-fragment {
  padding-top: 8px;
}
.sample-container .ar-panel .btm-fragment .img-wrap {
  height: 243px;
}
.sample-container .ar-panel .btm-fragment .img-wrap .img-contain img {
  height: 250px;
}
.sample-container .big-fragment {
  padding-right: 16px;
}
.sample-container .list {
  width: 100%;
  height: 100%;
  padding-left: 0;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.sample-container .list:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.sample-container .list .content {
  display: block;
  vertical-align: middle;
  position: relative;
  padding-left: 200px;
  height: 110px;
}
.sample-container .list .content img {
  display: block;
  position: absolute;
  width: 180px;
  height: 100px;
  left: 0;
  top: 0;
}
.sample-container .list .content .title {
  display: block;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.sample-container .list .content .desc {
  width: 100%;
  font-size: 12px;
  padding-right: 15px;
}
.sample-container .list .content:hover img {
  opacity: 0.8;
}
.website .nav-content {
  width: 90%;
  margin-left: 5%;
}
.nav-content {
  width: 100%;
  display: none;
}
.nav-content.active {
  display: block;
  overflow: hidden;
  padding-top: 30px;
}
.nav-content a {
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-content a:hover {
  text-decoration: none;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-content a:active {
  text-decoration: none;
}
.nav-content .left-content {
  width: 10%;
  float: left;
}
.nav-content .right-content {
  width: 90%;
  float: left;
  position: relative;
}
.nav-content .right-content:before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  background-color: #e0e0e0;
  height: 70%;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.nav-content .cell-container {
  width: 100%;
}
.nav-content .cell-container.title .cell {
  width: 100%;
}
.nav-content .cell-container.title .cell a {
  text-align: left;
}
.nav-content .cell-container.body {
  position: relative;
}
.nav-content .cell-container.body .cell {
  width: 11.11%;
}
.nav-content .cell-container.body:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -20px;
  height: 70%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.nav-content .cell-container .cell {
  display: inline-block;
  float: left;
}
.nav-content .cell-container .cell a {
  padding: 20px 5px;
  display: block;
  font-size: 14px;
  width: 100%;
  color: #000000;
  background-color: transparent;
  text-align: center;
}
.nav-content .cell-container .cell a:hover {
  color: #1AD1CC;
}
.nav-content .cell-container .cell.cell-title a {
  background-color: transparent;
  color: #1AD1CC;
}
.nav-content .cell-container:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.c-nav-tabs {
  margin-bottom: 0px;
  border-bottom: none;
  padding-left: 0;
  width: 100%;
}
.c-nav-tabs:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.c-nav-tabs li {
  float: left;
  width: 8.33%;
  min-width: 73.5px;
  margin-bottom: 10px;
}
.c-nav-tabs li a {
  padding: 5px 8px !important;
  color: #363636;
  border-radius: 0;
  transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}
.c-nav-tabs li a:hover {
  color: #1AD1CC;
}
.c-nav-tabs .active a {
  color: #1AD1CC;
  border-bottom: 2px solid #1AD1CC;
}
.c-nav-tabs.bold-font a {
  font-weight: bold;
}
.nav-wrap {
  width: 100%;
  background-color: #1AD1CC;
  position: relative;
}
.c-nav-tabs-2 {
  position: relative;
  margin-bottom: 0px;
  border-bottom: none;
  padding-left: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
}
.c-nav-tabs-2:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.c-nav-tabs-2 li {
  float: left;
  width: 8.33%;
  min-width: 73.5px;
}
.c-nav-tabs-2 li a {
  display: block;
  padding: 22px 8px !important;
  height: 68px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 0;
  text-align: center;
}
.c-nav-tabs-2 li a:hover {
  color: #1AD1CC;
  background-color: #ffffff;
}
.c-nav-tabs-2 .active {
  /*&:after{
            content: '';
            display: block;
            width: 3px;
            height: 100%;
            position: absolute;
            z-index: 9;
            left: 0;
            top: 0;
            background: linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
              background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
              background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
              background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
            .browserPrefix(transform, rotate(-10deg));
        }*/
  /*&:before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 8px;
            margin-top: -8px;
            background-color: @color-white;
        }*/
}
.c-nav-tabs-2 .active a {
  color: #1AD1CC;
  background-color: #ffffff;
  box-shadow: 4px 4px 16px #808080;
}
.c-nav-tabs-2.bold-font a {
  font-weight: bold;
}
.sub_sample {
  padding-left: 16px;
}
.sub_sample .c-nav-tabs {
  width: 100%;
}
.sub_sample .c-nav-tabs li {
  text-align: center;
  width: 33.33%;
}
.sub_sample .c-nav-tabs li a {
  padding: 15px !important;
  display: block;
  border-bottom: 2px solid #e0e0e0;
}
.sub_sample .c-nav-tabs .active a {
  color: #1AD1CC;
  border-bottom: 2px solid #1AD1CC;
}
.sub_sample .top-panel {
  background-color: #ffffff;
}
.sub_sample .top-panel:hover {
  box-shadow: 2px 2px 14px #aaaaaa;
}
.sub_sample .nav-content {
  height: 234px;
  padding-bottom: 10px;
}
.sub_sample .nav-content.active {
  padding-top: 0;
}
.sub_sample .competition-panel a {
  display: block;
  color: #000000;
  padding: 10px 40px;
  font-weight: normal;
}
.sub_sample .competition-panel a .label-left {
  float: left;
}
.sub_sample .competition-panel a .label-right {
  float: right;
}
.sub_sample .competition-panel a:after {
  content: '';
  display: block;
  clear: both;
}
.sub_sample .competition-panel a:hover {
  color: #1AD1CC;
}
.sub_sample .btm-panel {
  height: 170px;
  margin-top: 16px;
  background-color: #ffffff;
}
.sub_sample .btm-panel:hover {
  box-shadow: 2px 2px 14px #aaaaaa;
}
.archi-tools .tools-panel {
  display: block;
  float: left;
  width: 32.33%;
  background-color: #ffffff;
}
.archi-tools .tools-panel:hover .title {
  color: #1AD1CC;
}
.archi-tools .tools-panel:nth-child(2) {
  margin-left: 1%;
  margin-right: 1%;
}
.archi-tools .tools-panel .title {
  display: block;
  color: #4c4c4c;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #e0e0e0;
}
.archi-tools .tools-panel ul {
  border-left: 1px solid #e0e0e0;
  margin-bottom: 0;
}
.archi-tools .tools-panel ul:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  clear: both;
}
.archi-tools .tools-panel li a {
  display: block;
  float: left;
  width: 33.33%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
.archi-tools .tools-panel li a:hover > img {
  transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.archi-tools .tools-panel li a:hover .desc {
  opacity: 1;
  height: 24px;
  line-height: 24px;
}
.archi-tools .tools-panel li a > img {
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.archi-tools .tools-panel li a img,
.archi-tools .tools-panel li a span {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #000000;
}
.archi-tools .tools-panel li a .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3b8596;
  color: #ffffff;
  opacity: 0;
  height: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.archi-tools:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
li:hover a + .dropdown-menu {
  opacity: 1;
  display: block;
}
li a + .dropdown-menu {
  opacity: 0;
  transition: opacity 0.2s ease-in 0.1s;
  -moz-transition: opacity 0.2s ease-in 0.1s;
  -webkit-transition: opacity 0.2s ease-in 0.1s;
  -o-transition: opacity 0.2s ease-in 0.1s;
}
.c-nav > li > a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 16px;
  min-width: 100px;
  text-align: center;
}
.c-nav > li > a:hover {
  background-color: #1AD1CC !important;
  color: #ffffff;
}
.c-nav .dropdown-menu {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.c-nav .dropdown-menu li a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ad-container-1 {
  margin-top: 80px;
  height: 200px;
  overflow: hidden;
}
.ad-container-1 img {
  width: 100%;
}
.ad-container {
  margin-top: 80px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 80px;
}
.ad-container img {
  width: 100%;
}
.title-links {
  color: #4c4c4c;
  padding: 10px;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.swiper-friendLinks {
  margin-bottom: 30px !important;
  margin-left: -2px;
  margin-right: -2px;
  padding-left: 2px;
  padding-right: 2px;
}
.swiper-friendLinks .swiper-slide {
  height: 80px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.swiper-friendLinks .swiper-slide ul {
  margin-left: -20px;
  padding-right: 4px;
}
.swiper-friendLinks .swiper-slide li {
  float: left;
  width: 16.6666%;
  text-align: center;
  padding-left: 20px;
}
.swiper-friendLinks .swiper-slide li .img-wrap {
  display: block;
  min-height: 80px;
  box-shadow: 2px 2px 10px #aaaaaa;
}
.addCollection {
  position: relative;
}
.addCollection:after {
  content: 'Ctrl+D';
  display: block;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 100%;
  width: 100px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}
.addCollection:hover:after {
  opacity: 1;
}
.web-preview {
  position: absolute;
  padding: 10px;
  background-color: #1AD1CC;
  z-index: 1000;
  background-color: #363636;
  text-align: left;
  display: none;
}
.web-preview.active {
  display: block;
}
.web-preview .preview-img {
  width: 350px;
}
.web-preview .title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.web-preview .author {
  font-size: 8px;
  color: #808080;
}
.web-preview .desc {
  padding-top: 10px;
  color: #e0e0e0;
  font-size: 8px;
}
.dropdown-menu li.active a {
  background-color: #1AD1CC;
}
.gotoNext {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
}
.gotoNext.active {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
}
.fixed-toolbar {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 20;
}
.fixed-toolbar .cell {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #aaaaaa;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
.fixed-toolbar .cell img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.fixed-toolbar .cell .top-content {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.fixed-toolbar .cell .hover-content {
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.fixed-toolbar .cell .life-guide {
  color: #624d41;
}
.fixed-toolbar .cell .gotoTop {
  color: #1AD1CC;
}
.fixed-toolbar .cell:hover .top-content {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.fixed-toolbar .cell:hover .hover-content {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.fixed-toolbar .wechat-icon {
  position: relative;
}
.fixed-toolbar .wechat-icon:after {
  content: url(/img/wechat_scan_code.png);
  visibility: hidden;
  position: absolute;
  left: -100%;
  top: -100%;
  opacity: 0;
  transform: translateX(-170px);
  -moz-transform: translateX(-170px);
  -webkit-transform: translateX(-170px);
  -o-transform: translateX(-170px);
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.fixed-toolbar .wechat-icon:hover:after {
  visibility: visible;
  opacity: 1;
  transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  -o-transform: translateX(-150px);
}
.sprite_life_outer {
  height: 56px;
  width: 56px;
  overflow: hidden;
}
.sprite_life {
  background: url(/img/fixed_imgs/fixed_sprite.png) 0px 0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: 0px;
  _padding-top: 0px;
  _margin-top: 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="/img/fixed_imgs/fixed_sprite.png");
}
.sprite_QQ_outer {
  height: 56px;
  width: 56px;
  overflow: hidden;
}
.sprite_QQ {
  background: url(/img/fixed_imgs/fixed_sprite.png) 0px -56px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: 0px;
  _padding-top: 56px;
  _margin-top: -56px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="/img/fixed_imgs/fixed_sprite.png");
}
.sprite_wechat_outer {
  height: 56px;
  width: 56px;
  overflow: hidden;
}
.sprite_wechat {
  background: url(/img/fixed_imgs/fixed_sprite.png) 0px -112px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: 0px;
  _padding-top: 112px;
  _margin-top: -112px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="/img/fixed_imgs/fixed_sprite.png");
}
.sprite_top_outer {
  height: 56px;
  width: 56px;
  overflow: hidden;
}
.sprite_top {
  background: url(/img/fixed_imgs/fixed_sprite.png) 0px -168px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: 0px;
  _padding-top: 168px;
  _margin-top: -168px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="/img/fixed_imgs/fixed_sprite.png");
}
.contain {
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.contain a {
  text-decoration: blink !important;
}
.c-bs-docs-header {
  height: 160px;
  line-height: 160px;
}
.c-bs-docs-header .title {
  line-height: 100px;
  height: 100%;
  font-size: 30px;
}
.wcg-header {
  background-color: #666666;
}
.wcg-header .title {
  color: #ffffff;
  font-size: 30px;
}
.wcg-cate {
  width: 100%;
  overflow: hidden;
}
.wcg-cate li {
  float: left;
  width: 11.1111%;
}
.wcg-cate li a {
  width: 100%;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #ffffff;
}
.wcg-cate li:hover {
  background-color: #1AD1CC;
}
.wcg-cate .active a {
  background-color: #1AD1CC;
}
.wcg-logo {
  width: 100%;
}
.wcg-logo:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.wcg-logo li {
  float: left;
  width: 10%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
}
.wcg-logo li a {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.wcg-logo li a img {
  width: 100%;
  height: 100%;
}
.wechatInfoPanel {
  overflow: hidden;
}
.wcg-leftPanel {
  float: left;
  clear: right;
  overflow: hidden;
  margin-top: 50px;
  max-width: 850px;
}
.wcg-leftPanel .wcg-gird {
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
.wcg-leftPanel .wcg-gird .left {
  float: left;
  margin-right: 20px;
  width: 100px;
}
.wcg-leftPanel .wcg-gird .left img {
  display: block;
  width: 100px;
  height: 100px;
}
.wcg-leftPanel .wcg-gird .left .nickName {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}
.wcg-leftPanel .wcg-gird .right {
  float: left;
  width: 260px;
}
.right .img-wrap {
  height: 200px;
  width: 260px;
  overflow: hidden;
  position: relative;
}
.right .img-wrap a {
  width: 100%;
  height: 100%;
  display: block;
}
.right .img-wrap a img {
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  width: 260px;
}
.right .img-wrap .hoverImg {
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  left: 0;
  width: 100%;
  opacity: 0;
  color: #ffffff;
  background-color: #000000;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.right .img-wrap:hover img {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.right .img-wrap:hover .hoverImg {
  opacity: 0.5;
}
.right .desc {
  padding-top: 10px;
  height: 60px;
  padding-left: 10px;
}
.wcg-rightPanel {
  float: right;
  margin-top: 50px;
  width: 250px;
}
.wcg-rightPanel > .title {
  height: 50px;
  line-height: 50px;
  background-color: #1AD1CC;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.wcg-rightPanel .popular-board {
  counter-reset: sectioncounter;
}
.wcg-rightPanel .popular-board li {
  margin-top: 20px;
  position: relative;
}
.wcg-rightPanel .popular-board li:before {
  content: counter(sectioncounter);
  counter-increment: sectioncounter;
  display: block;
  position: absolute;
  font-size: 30px;
  left: -80px;
  top: 0;
  width: 50px;
  text-align: right;
}
.wcg-rightPanel .popular-board a {
  cursor: pointer;
}
.wcg-rightPanel .popular-board a img {
  width: 80px;
  height: 80px;
  float: left;
}
.wcg-rightPanel .popular-board a .desc-contain {
  margin-left: 20px;
  height: 100px;
  float: left;
  min-width: 80px;
  max-width: 130px;
  overflow: hidden;
}
.wcg-rightPanel .popular-board a .desc-contain > .title {
  color: #000000;
}
.wcg-rightPanel .popular-board a .desc-contain > .desc {
  color: #808080;
  font-size: 10px;
}
.wcg-rightPanel .popular-board a:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
.tool-cate-contain {
  margin-top: 20px;
  margin-left: -20px;
}
.tool-cate-contain:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  clear: both;
}
.tool-cate {
  float: left;
  width: 20%;
  height: 100%;
  min-width: 100px;
  padding-left: 20px;
  color: #ffffff;
}
.tool-cate:nth-child(1) .content {
  background-color: #f1895e;
}
.tool-cate:nth-child(2) .content {
  background-color: #dab96a;
}
.tool-cate:nth-child(3) .content {
  background-color: #d8d9da;
}
.tool-cate:nth-child(4) .content {
  background-color: #ed736a;
}
.tool-cate:nth-child(5) .content {
  background-color: #76bddd;
}
.tool-cate .content {
  background-color: orange;
  text-align: center;
  width: 100%;
  display: block;
}
.tool-cate .content .title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 26px;
  color: #ffffff;
  text-shadow: 1px 1px 4px #000000;
}
.tool-cate .content img {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}
.doc-title {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
  display: block;
}
.docs-contain {
  overflow: hidden;
  margin-left: -20px;
}
.docs-contain .doc {
  float: left;
  width: 25%;
  padding-left: 20px;
  margin-bottom: 20px;
}
.docs-contain .doc .img-wrap {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.docs-contain .doc .img-wrap a {
  width: 100%;
  height: 100%;
  display: block;
}
.docs-contain .doc .img-wrap a img {
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  width: 400px;
}
.docs-contain .doc .img-wrap .hoverImg {
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  left: 0;
  width: 100%;
  opacity: 0;
  color: #ffffff;
  background-color: #000000;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.docs-contain .doc .img-wrap:hover img {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.docs-contain .doc .img-wrap:hover .hoverImg {
  opacity: 0.5;
}
.docs-contain .doc .desc {
  padding-top: 10px;
  height: 60px;
  padding-left: 10px;
}
.doc-ad-container {
  height: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.doc-ad-container > a > img {
  width: 100%;
}
.free-docs-header {
  background-color: #d7d0be;
}
.archiNews-contain {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #e0e0e0;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  margin-bottom: 200px;
}
.archiNews-contain li {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.archiNews-contain li a {
  display: block;
  position: relative;
  overflow: hidden;
}
.archiNews-contain li a:after {
  content: '';
  display: block;
  clear: both;
}
.archiNews-contain li .img-wrap {
  width: 200px;
  height: 150px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.archiNews-contain li .img-wrap img {
  width: 200px;
  transition: transform 0.3s 0.1s;
  -moz-transition: transform 0.3s 0.1s;
  -webkit-transition: transform 0.3s 0.1s;
  -o-transition: transform 0.3s 0.1s;
}
.archiNews-contain li .img-wrap:hover img {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.archiNews-contain li .news-content {
  color: #363636;
}
.archiNews-contain li .news-content .title {
  font-size: 20px;
}
.archiNews-contain li .news-content .content {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.archiNews-contain li .news-content .n-label {
  color: #808080;
  position: absolute;
  bottom: 0;
  right: 0;
}
.cshow-contain {
  margin-left: -18px;
  margin-bottom: 20px;
  overflow: hidden;
}
.cshow-contain .cshow-tab {
  float: left;
  width: 33.3333%;
  padding-left: 18px;
}
.cshow-contain .cshow-tab > .title {
  height: 160px;
  line-height: 160px;
  font-size: 30px;
  text-align: center;
}
.cshow-contain .cshow-tab .cell {
  border: 1px solid #e0e0e0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.cshow-contain .cshow-tab:nth-child(1) > .title {
  background-color: #f9e79f;
}
.cshow-contain .cshow-tab:nth-child(2) > .title {
  background-color: #e1d787;
}
.cshow-contain .cshow-tab:nth-child(3) > .title {
  background-color: #d1ccc2;
}
.cell li {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.cell li a {
  display: block;
  position: relative;
  overflow: hidden;
}
.cell li a:after {
  content: '';
  display: block;
  clear: both;
}
.cell li .img-wrap {
  width: 90px;
  height: 120px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.cell li .img-wrap img {
  height: 170px;
  transition: transform 0.3s 0.1s;
  -moz-transition: transform 0.3s 0.1s;
  -webkit-transition: transform 0.3s 0.1s;
  -o-transition: transform 0.3s 0.1s;
}
.cell li .img-wrap:hover img {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.cell li .img-content {
  color: #363636;
}
.cell li .img-content .title {
  font-size: 20px;
}
.cell li .img-content .btm-label {
  color: #808080;
  position: absolute;
  bottom: 0;
  right: 0;
}
.iframe {
  width: 100%;
  min-height: 600px;
}
footer {
  width: 100%;
  min-height: 150px;
  display: block;
  background-color: #333;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #ffffff;
  position: relative;
  font-size: 12px;
}
footer .top {
  height: 100px;
}
footer .top .foot-logo {
  padding-right: 20px;
  display: inline-block;
  position: relative;
}
footer .top .foot-logo:hover {
  cursor: pointer;
}
footer .top .foot-logo:hover .desc {
  display: block;
  opacity: 1;
}
footer .top .foot-logo .desc {
  border-radius: 6px;
  width: 420px;
  vertical-align: middle;
  margin-left: 22px;
  color: #848484;
  background-color: #424242;
  padding: 10px 16px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 100%;
  display: none;
  margin-left: 40px;
  opacity: 0;
  z-index: 10;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
footer .top .line {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
footer .top .line:after {
  content: '';
  position: absolute;
  display: block;
  height: 54px;
  top: 50%;
  left: 0;
  bottom: 0;
  border-left: 1px solid #808080;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
footer .top .qq-icon {
  margin-left: 20px;
  display: inline-block;
}
footer .top .wechat-icon {
  position: relative;
}
footer .top .wechat-icon:hover .wechat-hover {
  visibility: visible;
  opacity: 1;
  transform: translate(20px, -50%);
  -moz-transform: translate(20px, -50%);
  -webkit-transform: translate(20px, -50%);
  -o-transform: translate(20px, -50%);
}
footer .top .wechat-icon .wechat-hover {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 100%;
  opacity: 0;
  transform: translate(50px, -50%);
  -moz-transform: translate(50px, -50%);
  -webkit-transform: translate(50px, -50%);
  -o-transform: translate(50px, -50%);
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
footer .content {
  color: #848484;
}
footer a {
  color: #ffffff !important;
}
footer .title {
  font-size: 18px;
  margin-bottom: 30px;
}
footer .copy-right {
  margin-top: 30px;
}
footer .footer-logo:before {
  content: url(../img/archi-logo.png);
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translateY(70%);
  -moz-transform: translateY(70%);
  -webkit-transform: translateY(70%);
  -o-transform: translateY(70%);
}
.white-popup-block {
  position: relative;
  background: #FFF;
  padding: 32px;
  width: auto;
  max-width: 628px;
  margin: 20px auto;
}
.pop-menu {
  margin-top: -32px;
  margin-left: -32px;
  margin-right: -32px;
  background-color: #1AD1CC;
}
.pop-menu:after {
  content: '';
  display: block;
  clear: both;
}
.pop-menu li {
  display: inline-block;
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pop-menu li.active {
  background-color: #ffffff;
}
.pop-menu li:not(:last-child) {
  width: 130px;
}
.pop-menu li input[type='text'] {
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.pop-menu li .title {
  color: #ffffff;
  padding-left: 32px;
}
.pop-menu .has-input {
  position: relative;
}
.pop-menu .has-input input {
  position: absolute;
  left: 20px;
  padding-top: 3px;
}
.pop-menu-container {
  display: none;
  height: 276px;
}
.pop-menu-container.active {
  display: block;
}
.pop-header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
}
.pop-header .right {
  display: inline-block;
  position: absolute;
  right: 0;
}
.pop-header .right span {
  margin-right: 10px;
}
.pop-header .right input[type='text'] {
  width: 300px;
}
.pop-header input[type='text'] {
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  width: 150px;
}
.pop-nav {
  width: 100%;
}
.pop-nav .title {
  margin-bottom: 0;
}
.pop-nav .title li {
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.pop-nav .title li.active {
  background-color: #1AD1CC;
  color: #ffffff;
}
.pop-nav .title:after {
  content: '';
  display: block;
  clear: both;
}
.pop-nav .pop-nav-body {
  height: 150px;
  padding-top: 0px;
  background-color: #fafafa;
  overflow-y: auto;
  display: none;
}
.pop-nav .pop-nav-body.active {
  display: block;
}
.pop-nav .pop-nav-body li {
  padding: 1px 10px;
  height: 18px;
  line-height: 18px;
}
.pop-nav .pop-nav-body li.active {
  background-color: #f0f0f0;
}
.pop-btn-group {
  text-align: center;
  margin-top: 15px;
}
.pop-btn-group input[type='button'] {
  padding: 5px 30px;
  color: #ffffff;
  border: none;
  outline: none;
}
.pop-btn-group .dft-btn {
  float: left;
  background-color: #cbcbcb;
}
.pop-btn-group .right-btn {
  float: right;
}
.pop-btn-group .ok-btn {
  margin-right: 50px !important;
  background-color: #1AD1CC;
}
.pop-btn-group .cancle-btn {
  background-color: #cbcbcb;
}
@media (min-width: 1910px) {
  .navbar-nav > li > a {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  .navbar-brand {
    float: left;
    height: 70px !important;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .archi-logo {
    position: relative;
    width: 80px;
  }
  .archi-logo img {
    position: absolute;
    width: 70px;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .bs-docs-header {
    font-size: 24px;
    text-align: left;
    background-color: #37b7c1;
    background-position: 0;
    height: 230px;
  }
  .bs-docs-header .content-title {
    margin-top: 0;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 6px;
  }
  .bs-docs-header,
  .bs-docs-header .bs-docs-masthead {
    position: relative;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
  }
  .section {
    margin-top: 60px;
    margin-left: 5%;
    width: 90%;
    height: 100%;
  }
  .section .logo-container {
    width: 100%;
    display: none;
  }
  .section .logo-container.active {
    display: block;
  }
  .section .logo-container .logo {
    display: inline-block;
    float: left;
    width: 11.11%;
    border: none;
    margin-bottom: 20px;
    position: relative;
  }
  .main-section {
    width: 100%;
    padding-bottom: 70px;
    box-shadow: 1px 1px 4px #888888;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .c-container {
    width: 1200px !important;
  }
  .c-nav-tabs-2 {
    width: 1200px;
  }
  .section {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 100%;
  }
  .website .nav-content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .contain {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .section .logo-container {
    height: 600px;
  }
  .section .logo-container .logo {
    display: inline-block;
    float: left;
    width: 16.6%;
    border: none;
    position: relative;
  }
}
@media (max-width: 768px) {
  .search-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section .logo-container {
    height: 900px;
  }
  .section .logo-container .logo {
    display: inline-block;
    float: left;
    width: 25%;
    border: none;
    position: relative;
  }
}
/**
 * pulse
 */
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
@-moz-keyframes pulse {
  0% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
@-o-keyframes pulse {
  0% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
/**
 * fadein
 */
@keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 0.7;
    filter: alpha(opacity=80);
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 0.7;
    filter: alpha(opacity=80);
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 0.7;
    filter: alpha(opacity=80);
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 0.7;
    filter: alpha(opacity=80);
  }
}
/**
 * fadeout
 */
@keyframes fadeout {
  from {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
