<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>精选案例，最专业的建筑行业精选案例(知筑导航)</title> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="Archi123,建筑案例,案例导航,建筑导航,建筑微信号,建筑网址,建筑网站,建筑网址之家,知筑导航,知筑,案例123,设计机构,设计资讯,建筑资讯,技术论坛,资源下载,建筑设计,灵感导航,BIM导航,建筑灵感,建筑界网址,建筑学,建筑设计院,免费建筑资料,互联网+建筑,建筑学网站">
    <meta name="description" content="微信导航，最专业的建筑行业微信号导航(知筑导航，最专业的建筑行业网址导航)。将建筑类微信公众号一网打尽，持续收录中。定期分享免费建筑资料，组织建筑界同城活动，打造新型建筑师之家。" >
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <style type="text/css">
        #tiles{
            position:relative;
            margin-left: -29px;
            margin-right: -29px;
        }
        #tiles li{
            display:block;
            width: 388px;
            padding: 4px;
            border: 1px solid #dedede;
            border-radius: 2px;
            background-color: #fff;
            cursor: pointer;
            overflow: hidden;
        }

        #tiles li img{
            display: block;
        }
    </style>
</head>

<body>
    <% include ../header %>
    <section class="contain">
        <div class="bs-docs-header c-bs-docs-header">
            <div class="title">案例精选</div>
        </div>
    </section>
    <section class="contain">
        <ul id="tiles"> 
            <li><img data-original="/img/post_0.jpg" width="388px" height="200px" class="lazy"><p>text</p></li> 
            <li><img data-original="/img/post_1.jpg" width="388px" height="350px" class="lazy"><p>text</p></li> 
            <li><img data-original="/img/post_0.jpg" width="388px" height="400px" class="lazy"><p>text</p></li> 
            <li><img data-original="/img/post_1.jpg" width="388px" height="400px" class="lazy"><p>text</p></li> 
            <li><img data-original="/img/post_11.jpg" width="388px" height="580px" class="lazy"><p>text</p></li> 
            <li><img data-original="/img/post_3.jpg" width="388px" height="320px" class="lazy"><p>text</p></li>
            <li><img data-original="/img/post_2.jpg" width="388px" height="300px" class="lazy"><p>text</p></li> 
            <li><img data-original="/img/post_1.jpg" width="388px" height="310px" class="lazy"><p>text</p></li> 
            <li><img data-original="/img/post_0.jpg" width="388px" height="380px" class="lazy"><p>text</p></li>
        </ul>
    </section>
    <section class="contain">
        <div class="ad-container"></div>
    </section>
    <% include ../footer %>
</body>

</html>
<script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>
<script type="text/javascript" src="/js/lib/jquery.lazyload.min.js"></script>
<script type="text/javascript" src='/js/lib/imagesloaded.pkgd.min.js'></script>
<script type="text/javascript" src='/js/lib/wookmark.min.js'></script>
<script type="text/javascript" src="/js/lib/masonry.pkgd.min.js"></script>

<script type="text/javascript">

(function ($) {
  var loadedImages = 0, // Counter for loaded images
    handler = $('#tiles'); // Get a reference to your grid items.

  // Prepare layout options.
  var options = {
    align: "center",
    onLayoutChanged:true,
    autoResize: true, // This will auto-update the layout when the browser window is resized.
    offset: 18, // Optional, the distance between grid items
    outerOffset: 20, // Optional, the distance to the containers border
    itemWidth: 388 // Optional, the width of a grid item
  };

  $('#tiles').imagesLoaded(function(){
    // Call the layout function.
    handler.wookmark(options);

    // Capture clicks on grid items.
    handler.click(function(){
      // Randomize the height of the clicked item.
      var newHeight = $('img', this).height() + Math.round(Math.random() * 300 + 30);
      $(this).css('height', newHeight+'px');

      // Update the layout.
      handler.wookmark();
    });
  }).progress(function(instance, image) {
    // Update progress bar after each image load
    loadedImages++;
    if (loadedImages == handler.length)
      $('.progress-bar').hide();
    else
      $('.progress-bar').width((loadedImages / handler.length * 100) + '%');
  });
})(jQuery);

</script>
<script type="text/javascript">
$(document).ready(function() {
    $("img.lazy").lazyload({
        effect: "fadeIn",
        placeholder: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC",
    });
    
    $(".c-nav-tabs").delegate("li", "click", function(e) {
        e.preventDefault();
        var _$this = $(this);
        _$this.addClass('active').siblings(".active").removeClass('active');
        console.log(_$this.html());
    });
})
</script>
