<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>知筑导航</title>
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
</head>

<body>
    <div id="overlay" class="overlay"></div>
    <header role="banner" id="top" class="navbar navbar-static-top bs-docs-nav">
        <div class="container c-container">
            <div class="navbar-header">
                <button aria-expanded="false" aria-controls="bs-navbar" data-target="#bs-navbar" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand archi-logo" href="http://www.archi123.com/"><img src="/img/archi-logo.png"></a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav c-nav">
                    <li>
                        <a href="http://www.archi123.com/">导航首页</a>
                    </li>
                    <li>
                        <a href="/ac/main.html" target="_blank">建筑精选</a>
                    </li>
                    <li>
                        <a href="">资讯精选</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">建筑新闻</a></li>
                            <li><a href="#">竞赛展会</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://wx.archi123.com/" target="_blank">微信导航</a>
                    </li>
                    <li class="active">
                        <a href="">免费资料</a>
                    </li>
                    <li>
                        <a href="">人物访谈</a>
                    </li>
                    <li>
                        <a href="" target="_blank">网站实例</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav c-nav navbar-right">
                    <li>
                        <a href="#" onclick="AddFavorite(window.location,document.title)" class="addCollection">加入收藏</a>
                    </li>
                    <li>
                        <a href="">旗下网站</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">室内导航</a></li>
                            <li><a href="#">土木导航</a></li>
                            <li><a href="#">建筑酷</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-section">
        <div class="bs-docs-header" id="content" tabindex="">
            <h1 class="content-title">知筑导航，最专业的建筑行业网址导航</h1>
            <div>
                <div class="search-container">
                    <form onsubmit="return baiduWithHttps(this)" action="http://www.baidu.com/baidu" target="_blank">
                        <input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
                        <input type="button" class="s-left-btn" value="百度">
                        <ul class="dropdown-menu">
                            <li><a href="#">百度</a></li>
                            <li><a href="#">筑猫</a></li>
                            <li><a href="#">谷歌</a></li>
                        </ul>
                        <input type="text" class="s-middle-input" placeholder="你要找什么" name="word" size="30" onfocus="checkHttps">
                        <input type="submit" class="s-right-btn" value="">
                    </form>
                </div>
            </div>
            <!-- <div class="container">
                <h1 class="content-title">知筑导航——最专业的建筑导航</h1>
                <div class="search-container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-xs-8 col-lg-offset-4 col-sm-offset-3 col-xs-offset-2">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">百度 <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">百度</a></li>
                                        <li><a href="#">筑猫</a></li>
                                        <li><a href="#">谷歌</a></li>
                                    </ul>
                                </div>
                                <input type="text" class="form-control" aria-label="..." placeholder="你要找什么">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">搜索</button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <section class="section" id="logoContainer">
        </section>
    </div>
    <div class="tool-container">
        <div class="circle" id="show_tools">
        </div>
        <div class="tools" id="show_toolsDefault">
            <i class="left-arrow" id="gotoLeft"></i>
            <i class="fun-tool" id="a_openPopupLink">
                <a href="#link-popup" class="open-popup-link hidden" ></a>
            </i>
            <i class="right-arrow" id="gotoRight"></i>
        </div>
    </div>
    <div class="wonderful-section">
        <section class="section">
            <ul class="c-nav-tabs bold-font" id="sample">
                <li role="presentation" class="active"><a href="">案例精选</a></li>
                <li role="presentation" class=""><a href="">精彩资讯</a></li>
                <li role="presentation" class=""><a href="">建筑工具</a></li>
            </ul>
            <div class="sample-container active img-sample" id="sample-tab-0">
                <div class="ar-panel big-fragment">
                    <a href="http://www.archdaily.com/" target="_blank" class=""><img data-original="img/post_10.jpg" class="lazy"></a>
                </div>
                <div class="ar-panel">
                    <div class="top-fragment">
                        <a href="http://www.archdaily.com/" target="_blank"><img data-original="img/post_11.jpg" alt="" class="lazy"></a>
                    </div>
                    <div class="btm-fragment">
                        <a href="http://www.archdaily.com/" target="_blank"><img data-original="img/post_12.jpg" alt="" class="lazy"></a>
                    </div>
                </div>
            </div>
            <div class="sample-container" id="sample-tab-1">
                <div class="ar-panel with-shadow">
                    <ul class="list">
                        <li>
                            <div class="content">
                                <img data-original="img/post_0.jpg" alt="" class="lazy">
                                <a class="title" title="【评选发布】2015中国最美民宿大奖" href="http://www.archreport.com.cn/show-11-3644-1.html" target="_blank">【评选发布】2015中国最美民宿大奖</a>
                                <div class="desc">现代城市居民厌倦了都市生活的忙碌嘈杂，放松身心、亲近自然的生活方式日渐被大众认同和追求。民宿成为诸多休闲度假、乡村旅游的重要组成部分，被越来越多的投资人、设计师所关注。</div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <img data-original="img/post_1.jpg" alt="" class="lazy">
                                <a class="title" title="“2015中国建筑界设计推动年度十大人物”评选——马寅" href="http://www.archreport.com.cn/show-11-3643-1.html" target="_blank">“2015中国建筑界设计推动年度十大人物”评选——马寅</a>
                                <div class="desc">中国建筑报道网以建筑为载体联合《城市·环境·设计》（UED）杂志社，将评选“2015中国建筑界年度十大事件”、“2015中国建筑界设计推动年度十大人物”以及“2015中国建筑界年度十大作品”</div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <img data-original="img/post_2.jpg" alt="" class="lazy">
                                <a class="title" title="“2015中国建筑界年度十大作品”评选，火热开始！" href="http://www.archreport.com.cn/show-11-3642-1.html" target="_blank">“2015中国建筑界年度十大作品”评选，火热开始！</a>
                                <div class="desc">中国建筑报道网以建筑为载体联合《城市·环境·设计》（UED）杂志社，将评选“2015中国建筑界年度十大事件”、“2015中国建筑界设计推动年度十大人物”以及“2015中国建筑界年度十大作品”</div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <img data-original="img/post_3.jpg" alt="" class="lazy">
                                <a class="title" href="http://www.archreport.com.cn/show-11-3641-1.html" target="_blank">2016筑梦中国展邀请函</a>
                                <div class="desc">2016 "为城市而设计 "计划平行展之一筑梦中国展即将开启！</div>
                            </div>
                        </li>
                        <li>
                            <a href="http://www.archreport.com.cn/list-11-0-1.html" target="_blank">
                                <h5 class="more">更多</h5>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="ar-panel sub_sample">
                    <div class="top-panel">
                        <ul class="c-nav-tabs" id="sub_sample">
                            <li role="presentation" class="active"><a href="">竞赛</a></li>
                            <li role="presentation" class=""><a href="">展会</a></li>
                            <li role="presentation"><a href="">讲座</a></li>
                        </ul>
                        <div class="nav-content active" id="sub_sample-tab-0">
                            <ul class="competition-panel">
                                <li>
                                    <a href="" target="_blank">
                                        <span class="label-left">标题</span>
                                        <spam class="label-right">时间</spam>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank">
                                        <span class="label-left">标题</span>
                                        <spam class="label-right">时间</spam>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank">
                                        <span class="label-left">标题</span>
                                        <spam class="label-right">时间</spam>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank">
                                        <span class="label-left">标题</span>
                                        <spam class="label-right">时间</spam>
                                    </a>
                                </li>
                                <li>
                                    <a><h5 class="more">更多</h5></a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-content" id="sub_sample-tab-1">
                            这是一段测试
                        </div>
                        <div class="nav-content" id="sub_sample-tab-2">
                            这是讲座的一段测试
                        </div>
                    </div>
                    <div class="btm-panel">
                    </div>
                </div>
            </div>
            <div class="sample-container archi-tools" id="sample-tab-2">
                <!-- div.tools-panel*3>div.title{建筑软件}+ul>li*9>a[target="_blank"]>img[src="img/l1.png"] -->
                <div class="tools-panel">
                    <div class="title">建筑软件</div>
                    <ul>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li><a href="" target="_blank"><span>更多</span></a></li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                    </ul>
                </div>
                <div class="tools-panel">
                    <div class="title">常用工具</div>
                    <ul>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li><a href="" target="_blank"><span>更多</span></a></li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                    </ul>
                </div>
                <div class="tools-panel">
                    <div class="title">精选插件</div>
                    <ul>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li><a href="" target="_blank"><span>更多</span></a></li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img data-original="img/l1.png" alt="" class="lazy"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
    </div>
    <div class="middle-section">
        <section class="full-width website">
            <div class="nav-wrap">
                <ul class="c-nav-tabs-2" id="websites">
                    <li role="presentation" class="active"><a href="#">互联网+</a></li>
                    <li role="presentation"><a href="#">灵感咨询</a></li>
                    <li role="presentation"><a href="#">技术论坛</a></li>
                    <li role="presentation"><a href="#">期刊媒体</a></li>
                    <li role="presentation"><a href="#">设计机构</a></li>
                    <li role="presentation"><a href="#">BIM导航</a></li>
                    <li role="presentation"><a href="#">资源下载</a></li>
                    <li role="presentation"><a href="#">培训招聘</a></li>
                    <li role="presentation"><a href="#">设计创意</a></li>
                    <li role="presentation"><a href="#">建筑摄影</a></li>
                    <li role="presentation"><a href="#">学术研究</a></li>
                    <li role="presentation"><a href="#">建材数码</a></li>
                </ul>
            </div>
            <!-- 互联网+ -->
            <div class="nav-content active" id="archi-tab-0">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a>在线平台</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.archi123.com/" target="_blank">万科3P平台</a></div>
                        <div class="cell"><a href="http://www.tezign.com/" target="_blank">特赞Tezign</a></div>
                        <div class="cell"><a href="http://www.archist.cn/" target="_blank">Archist</a></div>
                        <div class="cell"><a href="http://www.zhuyinet.com/" target="_blank">筑易设计网</a></div>
                        <div class="cell"><a href="http://www.archask.com/" targe="_blank">问筑网</a></div>
                        <div class="cell"><a href="http://www.nbimer.com/" target="_blank">Nbimer</a></div>
                        <div class="cell"><a href="http://gc.zhubajie.com/" target="_blank">八戒工程网</a></div>
                        <div class="cell"><a href="http://3demoo.com/" target="_blank">易模型</a></div>
                        <div class="cell"><a href="http://www.cbimer.com/" target="_blank">中国BIM威客</a></div>
                        <div class="cell"><a href="http://www.sheencity.com/" target="_blank">光辉城市</a></div>
                        <div class="cell"><a href="http://www.duc.cn/" target="_blank">数联中国</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a>导航网站</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.archi123.com/" target="_blank">知筑导航</a></div>
                        <div class="cell"><a href="http://www.archiname.com/" target="_blank">筑名导航</a></div>
                        <div class="cell"><a href="http://www.zshid.com/?c=navigations&a=index" target="_blank">优筑导航</a></div>
                        <div class="cell"><a href="http://www.sj234.com/architecture/" target="_blank">猎意导航</a></div>
                        <div class="cell"><a href="http://www.lagoo.com.cn/" targe="_blank">Lagoo中国</a></div>
                        <div class="cell"><a href="http://www.jzzw.net/" target="_blank">建筑之网</a></div>
                        <div class="cell"><a href="http://ideauu.com/" target="_blank">灵感优优</a></div>
                        <div class="cell"><a href="http://www.treemode.com/" target="_blank">树状模式</a></div>
                        <div class="cell"><a href="http://www.lubanlu.com/" target="_blank">鲁班路</a></div>
                    </div>
                </div>
            </div>
            <!-- 灵感咨询 -->
            <div class="nav-content" id="archi-tab-1">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国外资讯</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.archdaily.cn/" target="_blank">ArchDaily</a></div>
                        <div class="cell"><a href="http://divisare.com/" target="_blank">Divisare</a></div>
                        <div class="cell"><a href="http://designboom.com/" target="_blank">Designboom</a></div>
                        <div class="cell"><a href="http://architizer.com/" target="_blank">Architiz</a></div>
                        <div class="cell"><a href="http://www.domusweb.it/" target="_blank">DomusWeb</a></div>
                        <div class="cell"><a href="http://www.ilikearchitecture.net/" target="_blank">Ilikearch</a></div>
                        <div class="cell"><a href="http://www.architectsjournal.co.uk/" target="_blank">AJ</a></div>
                        <div class="cell"><a href="http://archinect.com/" targe="_blank">Archinect</a></div>
                        <div class="cell"><a href="http://www.thecoolhunter.net/" target="_blank">Coolhunt</a></div>
                        <div class="cell"><a href="http://www.dwell.com/" target="_blank">Dwell</a></div>
                        <div class="cell"><a href="http://www.contemporist.com/" target="_blank">Contemporist</a></div>
                        <div class="cell"><a href="http://inhabitat.com/" target="_blank">Inhabitat</a></div>
                        <div class="cell"><a href="http://www.archello.com/" target="_blank">Archello</a></div>
                        <div class="cell"><a href="http://skyscraperpage.com/" target="_blank">skyscraper</a></div>
                        <div class="cell"><a href="http://archi.ru/" target="_blank">Archi</a></div>
                        <div class="cell"><a href="http://www.dexigner.com/news/Architecture" target="_blank">dexigner</a></div>
                        <div class="cell"><a href="http://www.bustler.net/" target="_blank">Bustler</a></div>
                        <div class="cell"><a class="gotoNext">Next</a></div>
                    </div>
                    <div class="cell-container body hidden">
                        <div class="cell"><a href="http://www.archdaily.cn/" target="_blank">ArchDaily</a></div>
                        <div class="cell"><a href="http://divisare.com/" target="_blank">Divisare</a></div>
                        <div class="cell"><a href="http://designboom.com/" target="_blank">Designboom</a></div>
                        <div class="cell"><a href="http://architizer.com/" target="_blank">Architiz</a></div>
                        <div class="cell"><a href="http://www.domusweb.it/" target="_blank">DomusWeb</a></div>
                        <div class="cell"><a href="http://www.ilikearchitecture.net/" target="_blank">Ilikearch</a></div>
                        <div class="cell"><a href="http://www.architectsjournal.co.uk/" target="_blank">AJ</a></div>
                        <div class="cell"><a href="http://archinect.com/" targe="_blank">Archinect</a></div>
                        <div class="cell"><a href="http://www.thecoolhunter.net/" target="_blank">Coolhunt</a></div>
                        <div class="cell"><a href="http://www.dwell.com/" target="_blank">Dwell</a></div>
                        <div class="cell"><a href="http://www.contemporist.com/" target="_blank">Contemporist</a></div>
                        <div class="cell"><a href="http://inhabitat.com/" target="_blank">Inhabitat</a></div>
                        <div class="cell"><a href="http://www.archello.com/" target="_blank">Archello</a></div>
                        <div class="cell"><a href="http://skyscraperpage.com/" target="_blank">skyscraper</a></div>
                        <div class="cell"><a href="http://archi.ru/" target="_blank">Archi</a></div>
                        <div class="cell"><a href="http://www.dexigner.com/news/Architecture" target="_blank">dexigner</a></div>
                        <div class="cell"><a href="http://www.bustler.net/" target="_blank">Bustler</a></div>
                        <div class="cell"><a>Next</a></div>
                    </div>
                    <div class="cell-container body hidden">
                        <div class="cell"><a href="http://www.archdaily.cn/" target="_blank">ArchDaily</a></div>
                        <div class="cell"><a href="http://divisare.com/" target="_blank">Divisare</a></div>
                        <div class="cell"><a href="http://designboom.com/" target="_blank">Designboom</a></div>
                        <div class="cell"><a href="http://architizer.com/" target="_blank">Architiz</a></div>
                        <div class="cell"><a href="http://www.domusweb.it/" target="_blank">DomusWeb</a></div>
                        <div class="cell"><a href="http://www.ilikearchitecture.net/" target="_blank">Ilikearch</a></div>
                        <div class="cell"><a href="http://www.architectsjournal.co.uk/" target="_blank">AJ</a></div>
                        <div class="cell"><a href="http://archinect.com/" targe="_blank">Archinect</a></div>
                        <div class="cell"><a href="http://www.thecoolhunter.net/" target="_blank">Coolhunt</a></div>
                        <div class="cell"><a href="http://www.dwell.com/" target="_blank">Dwell</a></div>
                        <div class="cell"><a href="http://www.contemporist.com/" target="_blank">Contemporist</a></div>
                        <div class="cell"><a href="http://inhabitat.com/" target="_blank">Inhabitat</a></div>
                        <div class="cell"><a href="http://www.archello.com/" target="_blank">Archello</a></div>
                        <div class="cell"><a href="http://skyscraperpage.com/" target="_blank">skyscraper</a></div>
                        <div class="cell"><a href="http://archi.ru/" target="_blank">Archi</a></div>
                        <div class="cell"><a href="http://www.dexigner.com/news/Architecture" target="_blank">dexigner</a></div>
                        <div class="cell"><a href="http://www.bustler.net/" target="_blank">Bustler</a></div>
                        <div class="cell"><a>Next</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国内资讯</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.gooood.hk/" target="_blank">gooood</a></div>
                        <div class="cell"><a href="http://www.iarch.cn/" target="_blank">专筑网</a></div>
                        <div class="cell"><a href="http://www.ikuku.cn/" target="_blank">在库言库</a></div>
                        <div class="cell"><a href="http://www.ideamsg.com/" target="_blank">灵感日报</a></div>
                        <div class="cell"><a href="http://www.architbang.com/" target="_blank">建筑邦</a></div>
                        <div class="cell"><a href="http://archgo.com/" target="_blank">ArchGo</a></div>
                        <div class="cell"><a href="http://arch.liwai.com/" target="_blank">建筑中国</a></div>
                        <div class="cell"><a href="http://www.archreport.com.cn/" target="_blank">建筑报道网</a></div>
                        <div class="cell"><a href="http://www.archiposition.com/" target="_blank">有方</a></div>
                        <div class="cell"><a href="http://www.90dg.cn/" target="_blank">90degree</a></div>
                        <div class="cell"><a href="http://www.lvshedesign.com/" target="_blank">旅设</a></div>
                        <div class="cell"><a href="http://www.spacekoo.com/" target="_blank">空间库</a></div>
                        <div class="cell"><a href="http://www.archcollege.com/" target="_blank">建筑学院</a></div>
                        <div class="cell"><a href="http://www.treemode.com/" target="_blank">树状模式</a></div>
                        <div class="cell"><a href="http://photo.zhulong.com/" target="_blank">筑龙图酷</a></div>
                        <div class="cell"><a href="http://www.arclub.com/" target="_blank">建筑俱乐部</a></div>
                        <div class="cell"><a href="http://www.sankaijian.com/" target="_blank">三开间</a></div>
                        <div class="cell"><a href="http://www.foldcity.com/" target="_blank">褶子城市</a></div>
                        <div class="cell"><a href="http://www.zshid.com/" target="_blank">筑视</a></div>
                        <div class="cell"><a href="http://ieday.cn/" target="_blank">设计E周</a></div>
                    </div>
                </div>
            </div>
            <!-- 技术论坛 -->
            <div class="nav-content" id="archi-tab-2">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国外资讯</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://sketchucation.com/" target="_blank">Sketchucation</a></div>
                        <div class="cell"><a href="http://www.grasshopper3d.com/" target="_blank">grasshopper</a></div>
                        <div class="cell"><a href="https://thinkparametric.com/" target="_blank">thinkpara</a></div>
                        <div class="cell"><a href="http://designreform.net/" target="_blank">designreform</a></div>
                        <div class="cell"><a href="http://sketchuptrimble.tumblr.com/" target="_blank">sutrimble</a></div>
                        <div class="cell"><a href="http://blog.sketchup.com/sketchupdate" target="_blank">sketchupdate</a></div>
                        <div class="cell"><a href="http://geometrygym.blogspot.jp/" target="_blank">geometrygym</a></div>
                        <div class="cell"><a href="http://arch-student.com/" target="_blank">arch-student</a></div>
                        <div class="cell"><a href="http://www.designcoding.net/" target="_blank">designcoding</a></div>
                        <div class="cell"><a href="http://mcarchitetture.blogspot.jp/" target="_blank">mcarchi</a></div>
                        <div class="cell"><a href="http://visualizingarchitecture.com/" target="_blank">visualizing</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国内资讯</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.sketchupbbs.com/" target="_blank">Sketchupbbs</a></div>
                        <div class="cell"><a href="http://www.sketchupbar.com/" target="_blank">Sketchupbar</a></div>
                        <div class="cell"><a href="http://www.sublog.net/" target="_blank">紫天SU</a></div>
                        <div class="cell"><a href="http://www.sketchuppro.cn/" target="_blank">Sketchup博客</a></div>
                        <div class="cell"><a href="http://bbs.ncf-china.com/" target="_blank">NCF参数化</a></div>
                        <div class="cell"><a href="http://www.eeeetop.com/" target="_blank">E拓建筑网</a></div>
                        <div class="cell"><a href="http://www.xarchi.com/" target="_blank">埃克思建筑</a></div>
                        <div class="cell"><a href="http://shaper3d.com/" target="_blank">Shaper3d</a></div>
                        <div class="cell"><a href="http://www.sketchupvr.com/" target="_blank">ARC设计网</a></div>
                        <div class="cell"><a href="http://bbs.rhino3d.us/" target="_blank">ABBS</a></div>
                        <div class="cell"><a href="http://hxsd.com/" target="_blank">火星时代</a></div>
                        <div class="cell"><a href="http://www.shenlvse.com/" target="_blank">深绿设</a></div>
                        <div class="cell"><a href="http://bbs.topenergy.org/" target="_blank">绿色建筑论坛</a></div>
                        <div class="cell"><a href="http://bbs.aibaohu.com/" target="_blank">宝葫网</a></div>
                        <div class="cell"><a href="http://au.autodesk.com.cn/" target="_blank">autodesk</a></div>
                        <div class="cell"><a href="http://www.revitcad.com/" target="_blank">知族常乐</a></div>
                        <div class="cell"><a href="http://www.cad-bbs.com/" target="_blank">电气CAD</a></div>
                        <div class="cell"><a href="http://www.myjianzhu.com/" target="_blank">我的建筑网</a></div>
                        <div class="cell"><a href="http://www.gjgyun.com/" target="_blank">钢结构云</a></div>
                        <div class="cell"><a href="http://www.piziku.com/" target="_blank">坯子库</a></div>
                    </div>
                </div>
            </div>
            <!-- 期刊媒体 -->
            <div class="nav-content" id="archi-tab-3">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国外媒体</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://archiseek.com/" target="_blank">ArchiSeek</a></div>
                        <div class="cell"><a href="http://www.architectmagazine.com/" target="_blank">建筑师杂志</a></div>
                        <div class="cell"><a href="http://archpaper.com/" target="_blank">建筑师的报纸</a></div>
                        <div class="cell"><a href="http://www.urdesign.it/" target="_blank">URD设计杂志</a></div>
                        <div class="cell"><a href="http://www.evolo.us/" target="_blank">eVolo</a></div>
                        <div class="cell"><a href="http://www.bdonline.co.uk/" target="_blank">BD在线</a></div>
                        <div class="cell"><a href="http://www.architecturaldigest.com/" target="_blank">建筑文摘</a></div>
                        <div class="cell"><a href="http://www.domusweb.it/" target="_blank">Domus在线</a></div>
                        <div class="cell"><a href="http://www.architectural-review.com/" target="_blank">建筑评论</a></div>
                        <div class="cell"><a href="http://www.architectsjournal.co.uk/" target="_blank">AJ建筑杂志</a></div>
                        <div class="cell"><a href="http://architecturelab.net/" target="_blank">建筑实验室</a></div>
                        <div class="cell"><a href="http://www.australiandesignreview.com/" target="_blank">设计评审</a></div>
                        <div class="cell"><a href="http://www.architectureweek.com/" target="_blank">建筑周刊</a></div>
                        <div class="cell"><a href="http://www.azuremagazine.com/" target="_blank">Azure</a></div>
                        <div class="cell"><a href="http://www.hospitalitydesign.com/" target="_blank">医院设计</a></div>
                        <div class="cell"><a href="http://www.dezeen.com/" target="_blank">Dezeen</a></div>
                        <div class="cell"><a href="http://www.elcroquis.es/" target="_blank">Elcroquis</a></div>
                        <div class="cell"><a href="http://design-milk.com/" target="_blank">design-milk</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国内媒体</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.aj.org.cn/" target="_blank">建筑学报</a></div>
                        <div class="cell"><a href="http://www.atd.com.cn/" target="_blank">建筑技艺</a></div>
                        <div class="cell"><a href="http://www.wamp.com.cn/" target="_blank">世界建筑</a></div>
                        <div class="cell"><a href="http://www.acstyle.com.cn/" target="_blank">建筑创作</a></div>
                        <div class="cell"><a href="http://www.domuschina.com/" target="_blank">domus中国</a></div>
                        <div class="cell"><a href="http://www.uedmagazine.net/" target="_blank">城市环境设计</a></div>
                        <div class="cell"><a href="http://www.twarchitect.org.tw/" target="_blank">建築師雜誌</a></div>
                        <div class="cell"><a href="http://www.chinaacsc.com/mag/" target="_blank">建筑与文化</a></div>
                        <div class="cell"><a href="http://www1.szu.edu.cn/wara/" target="_blank">DI设计新潮</a></div>
                        <div class="cell"><a href="http://www1.szu.edu.cn/wara/" target="_blank">世界建筑导报</a></div>
                        <div class="cell"><a href="http://www.newarch.cn/" target="_blank">新建筑</a></div>
                        <div class="cell"><a href="http://www.cabp.com.cn/" target="_blank">住区</a></div>
                        <div class="cell"><a href="http://www.timearchi.com/" target="_blank">时代建筑</a></div>
                        <div class="cell"><a href="http://www.ua2004.com/" target="_blank">城市建筑</a></div>
                        <div class="cell"><a href="http://www.japan-architect.co.jp/" target="_blank">建筑与都市</a></div>
                        <div class="cell"><a href="http://www.idspace.com.cn/" target="_blank">理想空间</a></div>
                    </div>
                </div>
            </div>
            <!-- 设计机构 -->
            <div class="nav-content" id="archi-tab-4">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国外学院</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.aaschool.ac.uk/" target="_blank">AA</a></div>
                        <div class="cell"><a href="http://www.bartlett.ucl.ac.uk/" target="_blank">巴特莱特</a></div>
                        <div class="cell"><a href="http://www.theberlage.nl/" target="_blank">贝尔拉格</a></div>
                        <div class="cell"><a href="http://www.uni-weimar.de/" target="_blank">包豪斯</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国内学院</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.arch.tsinghua.edu.cn/" target="_blank">清华建筑</a></div>
                        <div class="cell"><a href="http://www.tongji-caup.org/" target="_blank">同济建筑</a></div>
                        <div class="cell"><a href="http://arch.seu.edu.cn/" target="_blank">东南建筑</a></div>
                        <div class="cell"><a href="http://arch.tju.edu.cn/" target="_blank">天大建筑</a></div>
                        <div class="cell"><a href="http://www.scut.edu.cn/architecture/" target="_blank">华南理工</a></div>
                        <div class="cell"><a href="http://jzxy.hit.edu.cn/" target="_blank">哈工大建筑</a></div>
                        <div class="cell"><a href="http://chongjian.cqu.edu.cn/" target="_blank">重大建筑</a></div>
                        <div class="cell"><a href="http://www.xauat.edu.cn/zh-cn/" target="_blank">西建科大</a></div>
                    </div>
                </div>
            </div>
            <!-- BIM导航 -->
            <div class="nav-content" id="archi-tab-5">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">BIM网站</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.nbimer.com/" target="_blank">NBimer</a></div>
                        <div class="cell"><a href="http://www.cnbim.com/" target="_blank">BIM中国网</a></div>
                        <div class="cell"><a href="http://www.chinarevit.com/" target="_blank">中国Revit论坛</a></div>
                        <div class="cell"><a href="http://bbs.bimst.com/" target="_blank">BIMst</a></div>
                        <div class="cell"><a href="http://www.bim123.com/" target="_blank">中国BIM论坛</a></div>
                        <div class="cell"><a href="http://bim.zhulong.com/" target="_blank">筑龙BIM</a></div>
                        <div class="cell"><a href="http://www.bimtime.cn/" target="_blank">BIM资讯网</a></div>
                        <div class="cell"><a href="http://bimclub.cn/" target="_blank">BIM俱乐部</a></div>
                        <div class="cell"><a href="http://www.weibim.com/" target="_blank">微BIM</a></div>
                        <div class="cell"><a href="http://www.100jjt.com/" target="_blank">百佳BIM联盟</a></div>
                        <div class="cell"><a href="http://www.bimcn.org/" target="_blank">中国BIM培训</a></div>
                        <div class="cell"><a href="http://www.bimlib.cn/" target="_blank">BIM智库</a></div>
                        <div class="cell"><a href="http://www.bimcc.com/" target="_blank">筑云BIM网</a></div>
                        <div class="cell"><a href="http://www.eabim.net/" target="_blank">EaBIM</a></div>
                        <div class="cell"><a href="http://www.bim.org.tw/" target="_blank">台湾BIM论坛</a></div>
                        <div class="cell"><a href="http://bim.archina.com/" target="_blank">BIM门户</a></div>
                        <div class="cell"><a href="http://bbs.bim400.com/" target="_blank">兵哥讲BIM</a></div>
                        <div class="cell"><a href="http://www.yizuku.com/" target="_blank">易族库</a></div>
                        <div class="cell"><a href="http://www.bimquan.com/" target="_blank">BIM圈</a></div>
                        <div class="cell"><a href="http://www.newsbim.com/" target="_blank">BIM新闻网</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">BIM软件</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.lubansoft.com/" target="_blank">鲁班软件</a></div>
                        <div class="cell"><a href="http://www.autodesk.com.cn/" target="_blank">欧特克</a></div>
                        <div class="cell"><a href="http://www.rib-software.com/" target="_blank">RIB</a></div>
                        <div class="cell"><a href="http://www.tekla.com/" target="_blank">Tekla</a></div>
                        <div class="cell"><a href="http://www.nemetschek.com/" target="_blank">Nemetschek</a></div>
                        <div class="cell"><a href="http://www.bentley.com/" target="_blank">Bentley</a></div>
                        <div class="cell"><a href="http://www.graphisoft.cn/" target="_blank">Graphisoft</a></div>
                        <div class="cell"><a href="http://www.vicosoftware.com/" target="_blank">Vico</a></div>
                        <div class="cell"><a href="http://www.solibri.com/" target="_blank">Solibri</a></div>
                    </div>
                </div>
            </div>
            <!-- 资源下载 -->
            <div class="nav-content" id="archi-tab-6">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国外资源</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://issuu.com/" target="_blank">Issuu</a></div>
                        <div class="cell"><a href="http://www.texturepop.com/" target="_blank">texturepop</a></div>
                        <div class="cell"><a href="http://archive3d.net/" target="_blank">archive3d</a></div>
                        <div class="cell"><a href="https://3dwarehouse.sketchup.com/" target="_blank">3dwarehouse</a></div>
                        <div class="cell"><a href="http://skalgubbar.se/" target="_blank">skalgubbar</a></div>
                        <div class="cell"><a href="http://www.onecommunityglobal.org/sketchup-plants/" target="_blank">onecom</a></div>
                        <div class="cell"><a href="http://texturez.com/" target="_blank">texturez</a></div>
                        <div class="cell"><a href="http://www.3dxo.com/" target="_blank">3dxo</a></div>
                        <div class="cell"><a href="http://www.mayang.com/textures/" target="_blank">Mayang</a></div>
                        <div class="cell"><a href="http://www.photoshoptextures.com/" target="_blank">FreePS</a></div>
                        <div class="cell"><a href="http://www.lovetextures.com/" target="_blank">lovetex</a></div>
                        <div class="cell"><a href="http://www.3dmodelfree.com/" target="_blank">3dmodel</a></div>
                        <div class="cell"><a href="http://artist-3d.com/" target="_blank">Artist-3d</a></div>
                        <div class="cell"><a href="http://www.archibase.net/" target="_blank">Archibase</a></div>
                        <div class="cell"><a href="http://www.3dxtras.com/" target="_blank">3dxtras</a></div>
                        <div class="cell"><a href="https://pixabay.com/" target="_blank">Pixabay</a></div>
                        <div class="cell"><a href="http://bgfons.com/" target="_blank">Bgfons</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国内资源</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.nbimer.com/" target="_blank">Nbimer</a></div>
                        <div class="cell"><a href="http://www.jzkoo.net/" target="_blank">建筑酷</a></div>
                        <div class="cell"><a href="http://www.co188.com/" target="_blank">土木在线</a></div>
                        <div class="cell"><a href="http://down6.zhulong.com/" target="_blank">筑龙资料馆</a></div>
                        <div class="cell"><a href="http://www.soujianzhu.cn/" target="_blank">搜建筑</a></div>
                        <div class="cell"><a href="http://www.sheencity.com/" target="_blank">光辉城市</a></div>
                        <div class="cell"><a href="http://www.pgive.com/" target="_blank">批给屋</a></div>
                        <div class="cell"><a href="http://www.99jianzhu.com/" target="_blank">久久建筑网</a></div>
                        <div class="cell"><a href="http://www.archcomeon.com/" target="_blank">建筑加油站</a></div>
                        <div class="cell"><a href="http://www.cnki.net/" target="_blank">中国知网</a></div>
                        <div class="cell"><a href="http://mx.shejiben.com/" target="_blank">设计本</a></div>
                        <div class="cell"><a href="http://www.zijianfang.cn/" target="_blank">自在建房</a></div>
                        <div class="cell"><a href="http://www.bzfxw.com/" target="_blank">标准分享网</a></div>
                        <div class="cell"><a href="http://www.tuji8.com/" target="_blank">图集吧</a></div>
                        <div class="cell"><a href="http://www.jzbar.net/" target="_blank">建筑资源吧</a></div>
                        <div class="cell"><a href="http://www.ucdcom.com/" target="_blank">UCD素材网</a></div>
                        <div class="cell"><a href="http://info.tgnet.com/" target="_blank">天工网</a></div>
                        <div class="cell"><a href="http://www.3dnew.com/" target="_blank">3DNew</a></div>
                        <div class="cell"><a href="http://tao.gujianfang.net/" target="_blank">古建坊</a></div>
                        <div class="cell"><a href="http://www.cgtextures.com/" target="_blank">CG纹理</a></div>
                    </div>
                </div>
            </div>
            <!-- 培训招聘 -->
            <div class="nav-content" id="archi-tab-7">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">建筑招聘</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.51zhucai.com/" target="_blank">筑才网</a></div>
                        <div class="cell"><a href="http://www.buildhr.com/" target="_blank">建筑英才网</a></div>
                        <div class="cell"><a href="http://www.arhr.com/" target="_blank">建筑人才网</a></div>
                        <div class="cell"><a href="http://www.gooood.hk/job.htm" target="_blank">谷德网</a></div>
                        <div class="cell"><a href="http://www.ikuku.cn/job" target="_blank">在库言库</a></div>
                        <div class="cell"><a href="http://job.zhulong.com/" target="_blank">筑龙人才网</a></div>
                        <div class="cell"><a href="http://www.liepin.com/zhaopin/?sfrom=click-pc_homepage-centre_searchbox-search_new&key=%E5%BB%BA%E7%AD%91%E5%B8%88" target="_blank">猎聘网</a></div>
                        <div class="cell"><a href="http://www.sjjob88.com/" target="_blank">设计英才网</a></div>
                        <div class="cell"><a href="http://www.architank.com/jobs" target="_blank">Architank</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">建筑网校</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://v.iarch.cn/" target="_blank">专筑讲坛</a></div>
                        <div class="cell"><a href="http://www.uzing.net/" target="_blank">活力网</a></div>
                        <div class="cell"><a href="http://kecheng.xuexiniu.com/" target="_blank">一米网校</a></div>
                        <div class="cell"><a href="http://www.tuituisoft.com/" target="_blank">腿腿教学网</a></div>
                        <div class="cell"><a href="http://open.163.com/" target="_blank">网易公开课</a></div>
                        <div class="cell"><a href="http://video.chaoxing.com/" target="_blank">超星视频</a></div>
                        <div class="cell"><a href="http://www.icourses.cn/" target="_blank">爱课程</a></div>
                        <div class="cell"><a href="http://www.architecturedraw.com/" target="_blank">建筑师小教室</a></div>
                    </div>
                </div>
            </div>
            <!-- 设计创意 -->
            <div class="nav-content" id="archi-tab-8">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">先锋设计</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://www.wowdsgn.com/" target="_blank">尖叫设计</a></div>
                        <div class="cell"><a href="http://www.acs.cn/" target="_blank">ACS创意空间</a></div>
                        <div class="cell"><a href="http://www.arita.cc/" target="_blank">阿里塔</a></div>
                        <div class="cell"><a href="http://www.vikilife.com/" target="_blank">维奇生活</a></div>
                        <div class="cell"><a href="http://www.visualchina.com/" target="_blank">视觉中国</a></div>
                        <div class="cell"><a href="http://www.arting365.com/" target="_blank">Arting365</a></div>
                        <div class="cell"><a href="http://www.chda.net/" target="_blank">设计艺术家</a></div>
                        <div class="cell"><a href="http://pinterest.com/" target="_blank">Pinterest</a></div>
                        <div class="cell"><a href="http://artdaily.com/" target="_blank">ArtDaily</a></div>
                        <div class="cell"><a href="http://www.artspy.cn/news" target="_blank">艺术眼</a></div>
                        <div class="cell"><a href="http://artx.cn/" target="_blank">艺术中国</a></div>
                        <div class="cell"><a href="http://www.dezeen.com/" target="_blank">dezeen</a></div>
                        <div class="cell"><a href="http://shijue.me/" target="_blank">视觉me</a></div>
                        <div class="cell"><a href="https://www.behance.net/" target="_blank">Behance</a></div>
                        <div class="cell"><a href="http://www.zcool.com.cn/" target="_blank">站酷</a></div>
                        <div class="cell"><a href="https://instagram.com/" target="_blank">instagram</a></div>
                        <div class="cell"><a href="http://huaban.com/" target="_blank">花瓣网</a></div>
                        <div class="cell"><a href="http://www.cndesign.com/" target="_blank">中国设计网</a></div>
                        <div class="cell"><a href="http://www.mlito.com/" target="_blank">米元素</a></div>
                        <div class="cell"><a href="http://www.padmag.cn/" target="_blank">PADMAG视觉杂志</a></div>
                    </div>
                </div>
            </div>
            <!-- 建筑摄影 -->
            <div class="nav-content" id="archi-tab-9">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">摄影手札</a></div>
                    </div>
                </div>
                <<div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="https://500px.com/" target="_blank">500px</a></div>
                        <div class="cell"><a href="http://www.iwan.com/" target="_blank">Iwan(荷兰)</a></div>
                        <div class="cell"><a href="http://ultimasreportagens.com/" target="_blank">FG+SG(葡萄牙)</a></div>
                        <div class="cell"><a href="http://www.huftonandcrow.com/projects/" target="_blank">Hufton+Crow</a></div>
                        <div class="cell"><a href="http://www.fernandoalda.com/" target="_blank">fernandoalda</a></div>
                        <div class="cell"><a href="http://www.leonardofinotti.com/" target="_blank">leonardo finotti</a></div>
                        <div class="cell"><a href="http://msalisbu.com/" target="_blank">msalisbu</a></div>
                        <div class="cell"><a href="http://www.davidcardelus.com/" target="_blank">davidcardelus</a></div>
                        <div class="cell"><a href="http://www.kevinkrautgartner.com/" target="_blank">Kevin Krautgartner</a></div>
                        <div class="cell"><a href="http://hanneshenz.ch/" target="_blank">hanneshenz</a></div>
                        <div class="cell"><a href="http://www.lancegerberstudio.com/" target="_blank">Lance Gerber</a></div>
                        <div class="cell"><a href="http://weibo.com/p/1005051966132855/" target="_blank">夏至</a></div>
                        <div class="cell"><a href="http://weibo.com/p/1005052186403204/" target="_blank">苏圣亮</a></div>
                        <div class="cell"><a href="http://www.savoye.cn/" target="_blank">萨伏伊|专业建筑摄影</a></div>
                        <div class="cell"><a href="http://weibo.com/caobaiqiang" target="_blank">建筑摄影_零度</a></div>
                        <div class="cell"><a href="http://www.arch-exist.com/" target="_blank">ARCH EXIST</a></div>
                        <div class="cell"><a href="http://www.lujingart.com/" target="_blank">西安路径建筑摄影</a></div>
                        <div class="cell"><a href="http://weibo.com/u/2150466780" target="_blank">杨超英建筑摄影</a></div>
                    </div>
                </div>
            </div>
            <!-- 学术研究 -->
            <div class="nav-content" id="archi-tab-10">
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国外库</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://libguides.princeton.edu/srch.php?q=Architecture&guide_id=84129" target="_blank">普林斯顿大学数据库</a></div>
                        <div class="cell"><a href="http://www.aij.or.jp/da1/index.html" target="_blank">日本建筑学会图书馆</a></div>
                        <div class="cell"><a href="http://quod.lib.umich.edu/cgi/i/image/image-idx" target="_blank">密歇根大学建筑数据库</a></div>
                        <div class="cell"><a href="http://memory.loc.gov/ammem/collections/landscape/" target="_blank">国会图书馆</a></div>
                        <div class="cell"><a href="http://enriqueta.man.ac.uk/luna/servlet/view/search;jsessionid=E5E50479A14C47BC65BE23EAC4861223?QuickSearchA=QuickSearchA&q=Architecture&search=Search" target="_blank">曼彻斯特大学建筑数据库</a></div>
                        <div class="cell"><a href="http://beta.hollis.harvard.edu/primo_library/libweb/action/search.do;jsessionid=86B2FB3011D6EAE469AC9AD76D5336D9?fn=search&ct=search&initialSearch=true&mode=Basic&tab=everything&indx=1&dum=true&srt=rank&vid=HVD&frbg=&tb=t&vl%28freeText0%29=Architecture&sc" target="_blank">哈佛大学图书馆</a></div>
                        <div class="cell"><a href="http://collections.si.edu/search/results.htm?q=Architecture&tag.cstype=all" target="_blank">史密森博物馆院</a></div>
                        <div class="cell"><a href="http://nyc-architecture.com/" target="_blank">纽约建筑图片库</a></div>
                        <div class="cell"><a href="http://www.wdl.org/zh/search/?q=%E5%BB%BA%E7%AD%91&qla=zh" target="_blank">世界数字图书馆</a></div>
                        <div class="cell"><a href="http://www.opendoar.org/find.php" target="_blank">OpenDOAR</a></div>
                        <div class="cell"><a href="http://prl.lib.hku.hk/solr-search/results/?ln=en&sc=1&f=&action_search=Search&solrq=Architecture&x=1&y=8" target="_blank">PRDLA</a></div>
                        <div class="cell"><a href="http://www.zvdd.de/en/digital-collections/search/?facet=&extquery=&executelucenequery=&link=0&tx_goobit3_search%5Bdefault%5D=metadata" target="_blank">Zvdd</a></div>
                        <div class="cell"><a href="http://gen.lib.rus.ec/search.php?req=Architecture&open=0&view=simple&column=def" target="_blank">LibGen</a></div>
                        <div class="cell"><a href="http://www.forgottenbooks.com/search?q=Architecture&t=books" target="_blank">遗忘之书</a></div>
                        <div class="cell"><a href="http://www.zshid.com/search.aspx?q=Architecture&c=navigations&a=index" target="_blank">East Carolina University</a></div>
                        <div class="cell"><a href="http://cdm16038.contentdm.oclc.org/cdm/search/searchterm/Architecture/field//mode/all/conn/and/cosuppress/1" target="_blank">美国海格利博物馆和图书馆</a></div>
                        <div class="cell"><a href="http://www.oapen.org/search?keyword=Architecture" target="_blank">Oapen</a></div>
                        <div class="cell"><a href="http://www.driver-repository.eu/Search.html?searchword=Architecture" target="_blank">欧洲国家数字知识库网格</a></div>
                        <div class="cell"><a href="http://library.columbia.edu/find/digital-collections.html" target="_blank">哥伦比亚大学图书馆</a></div>
                        <div class="cell"><a href="http://linksbooks.artron.net/eng" target="_blank">西班牙建筑合作数据库</a></div>
                    </div>
                </div>
                <div class="left-content">
                    <div class="cell-container title">
                        <div class="cell cell-title"><a href="">国内库</a></div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="cell-container body">
                        <div class="cell"><a href="http://kande0.ioc.u-tokyo.ac.jp/ap/chinese-archi/map.html" target="_blank">清朝样式雷建筑图样资料</a></div>
                        <div class="cell"><a href="http://192.192.82.80/Second/welcome.htm" target="_blank">台北古迹建筑典藏计划</a></div>
                        <div class="cell"><a href="http://temple.nmns.edu.tw/dispPageBox/index.html" target="_blank">乐成宫庙宇建筑数位典藏</a></div>
                        <div class="cell"><a href="http://www.dm.ncyu.edu.tw/" target="_blank">台湾建筑史</a></div>
                        <div class="cell"><a href="http://tpi6.lib.tju.edu.cn/calisjz/" target="_blank">天津大学图书馆</a></div>
                        <div class="cell"><a href="http://mylib.nlc.gov.cn/web/guest/search/searchresult?singleLibList=0&subjectId=40283415347ed8bd013483174ef60002&CAT1_input=%E5%BB%BA%E7%AD%91&CAT1_rel=and&CAT1_m=true&__checkbox_CAT1_m=true&CAT2_input=&CAT2_rel=and&CAT2_m=true&__checkbox_CAT2_m=true&PUBL" target="_blank">中国国家图书馆</a></div>
                        <div class="cell"><a href="http://service.wordpedia.com/wordpedia_m/index.htm" target="_blank">台湾古迹学习知识库</a></div>
                        <div class="cell"><a href="http://discovery.fudan.edu.cn/primo_library/libweb/action/search.do?fn=search&ct=search&initialSearch=true&mode=Basic&tab=digital_tab&indx=1&dum=true&srt=rank&vid=fdu&frbg=&tb=t&vl%28freeText0%29=%E5%BB%BA%E7%AD%91&scp.scps=DuxiuJournal%2Cprimo_central_multiple_fe" target="_blank">复旦大学图书馆</a></div>
                        <div class="cell"><a href="http://discovery.lib.tsinghua.edu.cn/primo_library/libweb/action/search.do?ct=&pag=&indx=1&dscnt=0&scp.scps=primo_central_multiple_fe&frbg=&tab=article_tab&dstmp=1416231906993&srt=rank&ct=Next%20Page&mode=Basic&dum=true&tb=t&indx=11&vl(freeText0)=%E5%BB%B" target="_blank">清华大学学术信息</a></div>
                        <div class="cell"><a href="http://cn.shl.findplus.cn/search_list.html?query=%E5%BB%BA%E7%AD%91&action=,,addexpander(fulltext)" target="_blank">上海图书馆</a></div>
                        <div class="cell"><a href="http://catalog.digitalarchives.tw/Catalog/List.jsp?CID=14277" target="_blank">典藏台湾</a></div>
                        <div class="cell"><a href="http://hkir.ust.hk/hkir/Search/Results?lookfor=Architecture&type=AllFields&submit=Find" target="_blank">香港机构知识库</a></div>
                        <div class="cell"><a href="http://221.212.156.202:9000/was5/web/jianzhuindexyd.jsp" target="_blank">哈尔滨建筑凝固的历史文化</a></div>
                        <div class="cell"><a href="http://124.133.52.180/Usp/apabi_usp/?pid=sdindex&cult=CN" target="_blank">山东近代建筑资源库</a></div>
                        <div class="cell"><a href="http://166.111.120.55:8001/Navigation/NavigationByNewPhoto.htm" target="_blank">清华大学建筑数字图书馆</a></div>
                        <div class="cell"><a href="http://zyk.bucea.edu.cn/" target="_blank">北京建筑大学特色资源库</a></div>
                    </div>
                </div>
            </div>
            <!-- 建筑数码 -->
            <div class="nav-content" id="archi-tab-11">
            </div>
        </section>
        <div class="clearfix"></div>
        <section class="section">
            <div class="ad-container"></div>
        </section>
        <section class="section">
            <div class="title-links align-center">友情链接</div>
            <div class="swiper-container swiper-friendLinks">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>
                            <li><img data-original="img/l1.png" alt="" class="lazy"></li>                        </ul>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <div class="clearfix"></div>
    </div>
    <% include ../footer %>
    <div id="link-popup" class="white-popup-block mfp-hide" data-logoindex="0">
        <ul class="pop-menu" id="popup-menus">
            <li><span class="title">替换网址</span></li>
        </ul>
        <div class="pop-menu-container" id="pop-menu-tab-0"></div>
        <div class="pop-menu-container active" id="pop-menu-tab-1">
            <div class="pop-header">
                <span>网站名称</span>
                <input type="text" placeholder="知筑导航" id="popup_webName">
                <div class="right">
                    <span>网址</span>
                    <input type="text" placeholder="www.archi123.com" id="popup_website">
                </div>
            </div>
            <div class="pop-nav">
                <ul class="title">
                    <li class="">经常访问</li>
                </ul>
                <div class="pop-nav-body active">
                    <ul id="pop_offen_nav_items">
                    </ul>
                </div>
            </div>
            <div class="pop-btn-group">
                <input type="button" value="恢复默认" id="popup_default" class="dft-btn">
                <div class="right-btn">
                    <input type="button" value="确定" id="popup_submit" class="ok-btn">
                    <input type="button" value="取消" id="popup_cancle" class="cancle-btn"> 
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="link-popup" class="white-popup-block mfp-hide" data-logoindex="0">
        <ul class="pop-menu" id="popup-menus">
            <li><span>热门推荐</span></li>
            <li class="active"><span>自定义添加</span></li>
            <li class="has-input">
                <input type="text" placeholder="查找热门网址">
            </li>
        </ul>
        <div class="pop-menu-container" id="pop-menu-tab-0"></div>
        <div class="pop-menu-container active" id="pop-menu-tab-1">
            <div class="pop-header">
                <span>网站名称</span>
                <input type="text" placeholder="知筑导航" id="popup_webName">
                <div class="right">
                    <span>网址</span>
                    <input type="text" placeholder="www.archi123.com" id="popup_website">
                </div>
            </div>
            <div class="pop-nav">
                <ul class="title" id="popup-nav">
                    <li class="active">经常访问</li>
                    <li>当前打开</li>
                    <li>收藏夹</li>
                </ul>
                <div class="pop-nav-body active" id="popup-tab-0">
                    <ul>
                        <li>知筑导航</li>
                        <li>知筑导航</li>
                        <li>知筑导航</li>
                    </ul>
                </div>
                <div class="pop-nav-body" id="popup-tab-1">
                    <ul>
                        <li>当前打开--知筑导航</li>
                        <li>当前打开--知筑导航</li>
                        <li>当前打开--知筑导航</li>
                    </ul>
                </div>
                <div class="pop-nav-body" id="popup-tab-2">
                    <ul>
                        <li>收藏夹--知筑导航</li>
                        <li>收藏夹--知筑导航</li>
                        <li>收藏夹--知筑导航</li>
                    </ul>
                </div>
            </div>
            <div class="pop-btn-group">
                <input type="button" value="确定" id="popup_submit" class="ok-btn">
                <input type="button" value="取消" id="popup_cancle" class="cancle-btn">
            </div>
        </div>
    </div> -->
</body>

</html>
<script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>
<script type="text/javascript" src="/js/lib/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/js/lib/lodash.min.js"></script>
<script type="text/javascript" src="/js/lib/store.min.js"></script>
<script type="text/javascript" src="/js/lib/ejs_production.js"></script>
<script type="text/javascript" src="/js/lib/swiper.min.js"></script>
<!-- <script src="http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script> -->
<script type="text/javascript" src="/subApp/main/main.js"></script>