@l-r-padding: 20px;
.contain{
    width: 100%;
    margin: auto;
    padding-left: @l-r-padding;
    padding-right: @l-r-padding;
}


.c-bs-docs-header{
    height: 160px;
    line-height: 160px;
    .title{
        line-height: 100px;
        height: 100%;
        font-size: 30px;

    }
}