<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>微信导航，最专业的建筑行业微信号导航(知筑导航)</title> 
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="Archi123,微信导航,建筑导航,建筑微信号,建筑网址,建筑网站,建筑网址之家,知筑导航,知筑,微信123,设计机构,设计资讯,建筑资讯,建筑论坛,技术论坛,资源下载,建筑设计,灵感导航,BIM导航,建筑灵感,建筑界网址,建筑学,建筑设计院,免费建筑资料,互联网+建筑,建筑学网站">
    <meta name="description" content="微信导航，最专业的建筑行业微信号导航(知筑导航，最专业的建筑行业网址导航)。将建筑类微信公众号一网打尽，持续收录中。定期分享免费建筑资料，组织建筑界同城活动，打造新型建筑师之家。" >
</head>

<body>
    <% include ../header %>
        <section class="full-width">
            <div class="bs-docs-header c-bs-docs-header">
                <div class="title">微信导航</div>
            </div>
        </section>
        <section class="full-width bg-black">
            <section class="contain">
                <ul class="wcg-cate">
                    <li class="active"><a href="">最火微信</a></li>
                    <li><a href="">期刊杂志</a></li>
                    <li><a href="">赏析资讯</a></li>
                    <li><a href="">建筑趣谈</a></li>
                    <li><a href="">展览旅行</a></li>
                    <li><a href="">设计创意</a></li>
                    <li><a href="">设计机构</a></li>
                    <li><a href="">干货分享</a></li>
                    <li><a href="">教程干货</a></li>
                </ul>
            </section>
        </section>
        <section class="full-width bg-white">
            <section class="contain">
                <ul class="wcg-logo">
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/1.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/2.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/3.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/4.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/5.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/6.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/7.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/8.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/9.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/10.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/11.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/12.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/13.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/14.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/15.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/16.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/17.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/18.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/19.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/20.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/1.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/2.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/3.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/4.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/5.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/6.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/7.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/8.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/9.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/10.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/11.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/12.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/13.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/14.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/15.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/16.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/17.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/18.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/19.png" class="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img alt="" data-original="/img/logo/20.png" class="lazy"></a>
                    </li>
                </ul>
            </section>
        </section>
        <section class="full-width bg-gray">
            <section class="contain wechatInfoPanel">
                <section class="wcg-leftPanel">
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="" class="lazy">
                            <div class="nickName">微信昵称</div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a>
                                    <img data-original="/img/post_11.jpg" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    这是一段简短的描述
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title">上海美术馆</div>
                                <div class>上海美术馆是一座很漂亮的馆</div>
                            </div>
                        </div>
                    </div>
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="" class="lazy">
                            <div class="nickName">微信昵称</div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a>
                                    <img data-original="/img/post_11.jpg" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    这是一段简短的描述
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title">上海美术馆</div>
                                <div class>上海美术馆是一座很漂亮的馆</div>
                            </div>
                        </div>
                    </div>
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="" class="lazy">
                            <div class="nickName">微信昵称</div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a>
                                    <img data-original="/img/post_11.jpg" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    这是一段简短的描述
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title">上海美术馆</div>
                                <div class>上海美术馆是一座很漂亮的馆</div>
                            </div>
                        </div>
                    </div>
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="" class="lazy">
                            <div class="nickName">微信昵称</div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a>
                                    <img data-original="/img/post_11.jpg" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    这是一段简短的描述
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title">上海美术馆</div>
                                <div class>上海美术馆是一座很漂亮的馆</div>
                            </div>
                        </div>
                    </div>
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="" class="lazy">
                            <div class="nickName">微信昵称</div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a>
                                    <img data-original="/img/post_11.jpg" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    这是一段简短的描述
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title">上海美术馆</div>
                                <div class>上海美术馆是一座很漂亮的馆</div>
                            </div>
                        </div>
                    </div>
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="" class="lazy">
                            <div class="nickName">微信昵称</div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a>
                                    <img data-original="/img/post_11.jpg" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    这是一段简短的描述
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title">上海美术馆</div>
                                <div class>上海美术馆是一座很漂亮的馆</div>
                            </div>
                        </div>
                    </div>
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="" class="lazy">
                            <div class="nickName">微信昵称</div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a>
                                    <img data-original="/img/post_11.jpg" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    这是一段简短的描述
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title">上海美术馆</div>
                                <div class>上海美术馆是一座很漂亮的馆</div>
                            </div>
                        </div>
                    </div>
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="" class="lazy">
                            <div class="nickName">微信昵称</div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a>
                                    <img data-original="/img/post_11.jpg" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    这是一段简短的描述
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title">上海美术馆</div>
                                <div class>上海美术馆是一座很漂亮的馆</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="wcg-rightPanel">
                    <div class="title">本月人气排行榜</div>
                    <ul class="popular-board">
                        <li data-index="1">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title"></div>
                                    <div class="desc"></div>
                                </div>
                            </a>
                        </li>
                        <li data-index="2">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="3">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="4">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="5">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="6">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="7">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="8">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="9">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="10">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
        <section class="section">
            <div class="ad-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="http://www.uzing.net/" target="_blank">
                                <img data-original="/img/ad_imgs/ad_huoli.jpg" class="lazy" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="http://www.archidogs.com/" target="_blank">
                                <img data-original="/img/ad_imgs/ad_jianzhuku.jpg" class="lazy"/>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="http://toutiao.archi123.com/" target="_blank">
                                <img data-original="/img/ad_imgs/ad_jianzhutoutiao.jpg" class="lazy"/>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="http://www.archi123.com/" target="_blank">
                                <img data-original="/img/ad_imgs/ad_wait.jpg" class="lazy"/>
                            </a>
                        </div>

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-1"></div>
                </div>
            </div>
        </section>
        <% include ../footer %>
</body>

</html>
<script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>
<script type="text/javascript" src="/js/lib/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/js/lib/swiper.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    new Swiper('.ad-container .swiper-container', {
        pagination: '.swiper-pagination-1',
        paginationClickable: true,
        autoplay: 3000,
        autoplayDisableOnInteraction: false
    });

    $("img.lazy").lazyload({
        placeholder: "/img/archi-logo.png",
        effect: "fadeIn"
    });

    $(".wcg-cate").delegate("li", "click", function(e) {
        e.preventDefault();
        var _$this = $(this);
        _$this.addClass('active').siblings(".active").removeClass('active');
        // console.log(_$this.html());
    });
})
</script>
